[2014-08-19 01:51] tonwe opened #2 "横屏废了"

[2014-08-28 10:29] #2 closed, assigned to nobody

[2014-09-16 08:54] qbaty opened #8 "Support onoritentationchange Event"

[2014-09-24 01:36] #8 closed, assigned to qbaty

[2014-09-24 03:08] kbii opened #9 "zoomIn & zoomOut"
how about add zoom In or zoom out

[2014-10-21 07:11] qbaty opened #10 "add more animation way for MSlider"
maybe 3d slide

[2014-10-23 14:04] qbaty opened #17 "Suggestions"
- Add a simple profile about MSlider about what's MSlider and what problems MSlider solved
- Improve options introduction (list all usefull parameters)
- Move those examples to BE-FE/MSlider gh-pages and list their link under code introduction
- List two types of data (pic | dom) about MSlider

[2014-10-23 18:21] xieyu33333 opened #19 "about demo"
js最好在demo文件夹中同步一份，否则在demo下用server是跑不起来的，不利于调试

[2014-10-29 03:03] profitfrl opened #23 "Add the function"
增加轮播图片中间下方出现数字或者小标的方法，实用性会更好~~

[2014-10-29 13:41] #19 closed, assigned to nobody

[2014-10-30 00:35] #23 closed, assigned to nobody

[2014-10-31 05:53] qbaty opened #28 "3d & filp animation are against nature"

[2014-10-31 05:56] #10 closed, assigned to xieyu33333

[2014-10-31 06:00] lcxfs1991 opened #31 "enhancement -- load image faster"
hope to load images resources faster

[2014-10-31 09:31] profitfrl opened #34 "About iSlider"
Do not exit the application by pressing the home key to return to the main screen. Once again into the application of carousel images should stay in a position away.

[2014-11-01 03:00] #17 closed, assigned to nobody

[2014-11-01 03:01] qbaty opened #40 "Add a simple CSS selector for iSlider"

[2014-11-05 11:46] #28 closed, assigned to xieyu33333

[2014-11-05 14:47] qbaty opened #49 "add desktop support"

[2014-11-06 05:02] ufologist opened #51 "README.md 文档中有错误的示例代码"
<del>ISlider</del> -> iSlider

[code]

[2014-11-06 07:11] jornakbobo opened #56 "手机适配方面有问题啊"
display:-webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center;
已经淘汰的样式了

[2014-11-06 07:13] #51 closed, assigned to nobody

[2014-11-06 07:14] #34 closed, assigned to xieyu33333

[2014-11-06 08:09] qbaty opened #58 "add full screen mode"
add full screen mode for pic type

[2014-11-06 09:56] #40 closed, assigned to xieyu33333

[2014-11-06 09:58] qbaty opened #61 "add tearUp animation"

[2014-11-07 08:03] xieyu33333 opened #65 "官网动画选中状态"
官网动画Demo没有选中状态

[2014-11-07 08:48] #65 closed, assigned to nobody

[2014-11-08 09:54] #58 closed, assigned to xieyu33333

[2014-11-08 09:54] #61 closed, assigned to nobody

[2014-11-08 09:54] #49 closed, assigned to xieyu33333

[2014-11-10 03:27] qbaty opened #71 "use strict mode"

[2014-11-10 03:29] #71 closed, assigned to nobody

[2014-11-11 06:06] fengshuo opened #73 "Another slide/swipe effect"
http://gajus.com/sandbox/swing/examples/card-stack/

[2014-11-11 08:02] xjchenhao opened #74 "是否有必要给对象加个this.destroy方法?"
写spa（单页面应用）的时候，转场后需要对之前页面的变量、事件、计时器进行内存回收。

[2014-11-12 08:52] Youngv opened #77 "Next or Previous Slide Function"
因为设计需要添加了一个剪头用来指示用户有下一张，但是用户的第一意识是点击那个剪头，如果能提供一个点击方法来达到上一页或下一页就好了。

然后看了源码，JS新手实在看不懂，貌似`_slide(1)`方法有这个作用，但是不知道怎么调用。

[2014-11-13 06:39] #56 closed, assigned to nobody

[2014-11-14 02:05] xjchenhao opened #82 "这句话的作用是？"
你好，问下
boundary = endTime - self.startTime > 300 ? boundary : 14;
这句话的作用是什么，什么情况下会遇到。

[2014-11-14 03:13] #82 closed, assigned to nobody

[2014-11-17 11:51] #77 closed, assigned to nobody

[2014-11-18 14:17] lcxfs1991 opened #97 "设置首张图片"
iSlider貌似没有初始化帧的设置？？？在源码里面看到了slideIndex，但是配置以后不生效，怎么破？？？ 来自http://www.w3cplus.com/resources/1455.html

[2014-11-22 01:31] #73 closed, assigned to nobody

[2014-11-23 03:50] qbaty opened #109 "下一个版本的iSlider"
当前的iSlider 已经处于1.1版本，比起上一个版本已经增加了多样的动画，增加了全屏模式，桌面支持，具体可参见[wiki](https://github.com/BE-FE/iSlider/wiki/Chang-Log).下一版我们将加强以下几个方面:
- [x] 增强自定义事件，引入生命周期
- [x]  dom type 的内部事件增强
- [x] pic type 的图片zoom-in & zoom-out
- [x] pic type 的图片预加载
- [x] 加强iSlider 与 iscroll共存的兼容
- [x] 增加应用例子
- [x] 使用AMD组织代码，非核心代码按需打包

[2014-11-23 06:47] #74 closed, assigned to xieyu33333

[2014-11-23 06:48] #9 closed, assigned to xieyu33333

[2014-11-23 06:49] #31 closed, assigned to nobody

[2014-12-16 07:22] #97 closed, assigned to nobody

[2015-01-06 06:19] JamJiang123 opened #130 "屏幕拉动时的BUG"
楼主好，我这边发现一个BUG，就是上下拉动的时候，有时候会叠一下，没拉完全。比如第一页拉第二页的时候，第一页与第二页会有个重叠区域，图片会卡住部分。
http://www.comicool.cn/mob-index.html

[2015-01-07 03:26] xieyu33333 commented on #130
初步判断是上下拉动的时候touchstart没有禁用默认事件，你可以尝试在样式上加上overflow: hidden，或者在touchstart的时候加上evt.preventDefault(), 目前新的版本已在纵向滑动时禁用默认事件。

[2015-01-07 05:45] JamJiang123 commented on #130
已使用最新库，已解决滑动图片卡住的问题。谢主隆恩~
不过出现了另一个问题，在onslidechange  函数里，写的内容貌似不能执行
例：http://ismanhua.com:8000/mob-index.html  点击下载  木有反应
例：http://www.comicool.cn/mob-index.html   点击下载可以执行

[2015-01-07 08:24] xieyu33333 commented on #130
感谢反馈，onslidechange函数是执行的，因为touchstart事件的callback中加了evt.preventDefault()，阻断了click事件，你可以先尝试使用之前版本，禁用掉body的滚动条看看行不行。

[2015-01-07 08:30] xieyu33333 commented on #130
如果使用现有版本，可以采用islider.bind('tap','#btn-down', function(){alert("a")})进行事件绑定，注意这里不能用click，要用tap。 注意这句不要放在onslidechange里，直接执行即可。否则会重复绑定事件，onslidechange是每次跳页都会触发的，对按钮绑定事件不需要使用onslidechange。

[2015-01-07 11:09] JamJiang123 commented on #130
谢主隆恩。偶试试~

[2015-01-09 02:22] xuanfeng opened #135 "左右切换键需求"
虽然手机端的主要交互是滑动，但还是有点击切换的需求，请问基于目前的版本如何实现？是否考虑加上这个扩展？

[2015-01-09 02:56] xieyu33333 commented on #135
目前有这个扩展，在src/plugin文件夹下面，但是当时的实现配置项有些过于复杂，考虑过一段时间重构，如果有需要可以先使用~

[2015-01-09 03:02] #130 closed

[2015-01-09 03:04] xieyu33333 commented on #135
具体示例可以参考demo/picture/picture_with_button.html

[2015-01-09 03:04] #135 closed

[2015-01-11 12:31] sindey1982 opened #136 "在wikit内核的安卓浏览器里，似乎没有效果。求解"
在wikit内核的安卓浏览器里，似乎没有效果。求解

[2015-01-12 05:34] xieyu33333 commented on #136
请给出具体浏览器的型号，我们在华为、小米、三星、iOS、系统内核webkit都进行过测试，bug可能会存在，但是没有出现过无效果的情况。

[2015-01-14 09:40] behai opened #139 "请问如何能实现多种效果？"
需要做的效果是这样的：向上滑三页，然后向左滑动三页，然后再向上滑三页。请问如何能实现呢？

[2015-01-14 10:23] xieyu33333 commented on #139
iSlider本身不提供这么具体的功能配置，但是你可以自己使用slideTo方法，调整isVertical属性等方式组合出这种效果。

[2015-01-15 03:13] behai commented on #139
谢谢解答。现在的单种效果已经非常赞，能组合的话简直是酷毙了。slideTo方法能举个例子，说明一下如何控制isVertical属性吗？

[2015-01-15 06:46] behai commented on #139
类似这样的效果：http://chuye.cloud7.com.cn/Beta/244140

[2015-01-15 06:46] xieyu33333 commented on #139
slideTo(index)方法通过传入data的索引值就可以滑动到相应的页面，修改axis属性可以改变滑动方向，例如：

    var islider = new iSlider({
        data: list,
	dom: document.getElementById("iSlider-wrapper")
    });
    islider.slideTo(3);   //跳转到list[3]
    islider.axis = 'X';   //滑动方向改为横向

[2015-01-16 06:12] behai commented on #139
谢谢xieyu33333

[2015-01-16 06:31] sindey1982 commented on #136
sorry，没有及时回复了。我在华为P7，三星9300下测试，成功初始化了（数据来源于js），但是就是滑不动。安卓只有Nexus5通过了，N5是chrome内核，苹果设备全通过

[2015-01-16 06:41] sindey1982 commented on #136
如果可以我回头部署到服务器上，给您看看。

[2015-01-16 07:33] xieyu33333 commented on #136
感谢，能否告知您使用的是系统自带的浏览器还是像UC这样的第三方浏览器？还者是用微信、微博扫码等？

[2015-01-18 10:37] #139 closed

[2015-01-19 22:56] #136 closed

[2015-01-24 12:30] qbaty commented on #109
New version of islider will be release soon.  iSlider still have some test need go throught.

[2015-01-25 06:03] #109 closed

[2015-01-26 08:50] lingerdu opened #150 "Bug: 请问demo兼容winPhone吗"

[2015-01-26 08:53] xieyu33333 commented on #150
我没有测试过，你可以扫码试一下，不过最新的winPhone适配了webkit前缀，所以应该是可以用的，有问题欢迎反馈~

[2015-01-26 09:04] lingerdu commented on #150
您好，经测试demo在winPhone(型号：lumia 1520)上是不能运动的，另外操作dom类型的在Android2.3上面不是很友好，图片第一次会按原始大小显示，横屏再竖屏后又会正常显示，请问这是什么问题呢？

[2015-01-26 09:20] xieyu33333 commented on #150
dom类型的图片？能否发一个可以外部访问的测试地址？

[2015-01-26 17:33] boynet opened #151 "anyway to make it dom reinit?"
I want it to be crawable by google.
like instead of giving array of elemnts:
[code]
<div id="iSlider-wrapper">
 <div><h1>Page1</h1><h2>This is page1</h2><p>page1 is pretty awsome</p><div>
<div><h1>Page2</h1><h2>This is page2</h2><p>page2 is pretty awsome</p><div>
<div><h1>Page3</h1><h2>This is page3</h2><p>page3 is pretty awsome</p><div>
</div>
[code]

[2015-01-26 19:01] xieyu33333 commented on #151
Because I must control the style,  the wrapper is custom appointed,  the content also custom appointed. How can I set style to these?

[2015-01-27 02:21] qbaty commented on #150
winphone 因为没有touch 事件，所以没有考虑支持，并不是本身不支持。。

[2015-01-27 02:22] qbaty commented on #150
@lingerdu Android2.3 如果有你说的问题，应该是bug ，我们排查一下，修复后关闭这个issue

[2015-01-27 02:31] qbaty commented on #151
iSlider will manager those elements, and keep elements as less as possible for efficiency. so those dom are generated dynamically. @boynet we will consider a better way to solve this, thank you

[2015-01-28 04:53] MarshalW opened #152 "android设备上页面过渡比较卡"
见 http://shiqichan.qiniudn.com/mob.slide.c/simple.html

我打算用于开发电子杂志。发现手头如下设备下卡顿：

- 小米4，比红米都卡
- 红米

另外，在Sony Z3C上，横向滑动的时候，滑动的过程中，当前页面会突然跑到之前页面前面或后面。

请问这个问题是否有人碰到过？

[2015-01-28 05:08] xieyu33333 commented on #152
可以尝试降低一下图片的分辨率和尺寸

[2015-01-28 05:40] xieyu33333 commented on #152
另外建议你去掉代码中的`boundary = endTime - this.startTime > 300 ? boundary : 14;` 试试，这是快速滑动的逻辑。后续我们会考虑是否将快速滑动作为一个可配置的选项。

[2015-01-28 06:20] #150 closed

[2015-01-28 07:10] nikogu opened #153 "文档有点问题"
使用dom哪个地方需要穿个type:'dom'的设置，文档忽略了，这个还是要注意一下

[2015-01-30 05:03] xieyu33333 commented on #153
感谢提醒，稍后会加上，Thanks~

[2015-01-30 05:03] #153 closed

[2015-01-30 05:52] q13 commented on #152
刚在微信浏览器端试了下（锤子t1手机），发现用最新版islider.js，偶尔出现滑动不响应的情况，和是否快速滑动没关系，替换成http://be-fe.github.io/iSlider/demo/上的islider.js后就没问题了，可否帮忙分析下是什么原因造成的不，移动端交互效果过于脆弱，有可能在滑动中多产生一次repaint就会造成很大影响。

[2015-01-30 06:05] xieyu33333 commented on #152
这个和repaint没关系，是因为新版本加入了和原生纵向滚动的适配，touchmove的时候横向滑动距离 - 纵向滑动距离 > 10px时才会执行e.preventDefault()，但是在Android4.4以上系统内核浏览器，以及chrome浏览器上，如果没有触发e.preventDefault，那么一旦浏览器检测到滑动动作，就会触发touchcancle。而老版本没有做和纵向滚动的兼容，所以没问题，如果你不需要scroll滚动条，可以在touchmove和touchstart的地方加上e.preventDefault()

[2015-01-30 06:38] q13 commented on #152
试了下果然是这个问题，感谢指正@xieyu33333

[2015-01-30 06:42] xieyu33333 commented on #152
感谢反馈，后续我再尝试做一些调整，解决这个问题。

[2015-01-30 06:42] #152 closed

[2015-01-30 06:44] #151 closed

[2015-01-30 09:54] Dsummer opened #157 "关于initIndex的使用方法"
我在var islider = new iSlider({
        dom: document.getElementById("iSlider-show"),
        data: domList,
        type:'dom',
        initIndex: 5;}）的时候添加了initIndex: 5;的属性，但是没有达到我预想的  在刷新页面后，从第5页开始浏览的效果，是我用的方法不对吗，还是有其他原因，希望能帮我解答一下，谢谢！

[2015-01-30 10:29] xieyu33333 commented on #157
你initIndex：5后面加的是分号。

[2015-01-30 11:47] Dsummer commented on #157
我在另一个  问题里找到了答案，islider.slideTo(3);   //跳转到list[3]  ，这个就可以跳转，感谢作者的热心回答，initIndex：5后面加了;是我没注意，加，也没有达到效果

[2015-01-30 21:52] #157 closed

[2015-02-01 06:09] Dsummer opened #158 "请问有没有什么办法可以知道当前页是整个动画里的第几页"
我现在在用iSlider做一个展示的电子杂志，需要对其中特定页面加一些动画特效，所以想在切到某一页时，知道其在动画中是第几也，也就是页码数i,再配合islider.slideTo(i);即可切到这一页，请问有什么方法吗？

[2015-02-01 07:14] Dsummer commented on #158
另外，还遇到一个问题，就是我在页面内加上了连接，连接到http://www.baidu.com,再返回的时候，有链接的页面的右侧页面为空，是没有办法往左滑动的，当向右滑动再返回有链接页面的时候，其右侧页面又出现了，不清楚是什么问题导致的，

[2015-02-01 15:23] xieyu33333 commented on #158
你好, 使用`islider.slideIndex`就可以得到索引值

[2015-02-02 02:21] Dsummer commented on #158
你好，非常感谢，这个我用了一下，没有问题了。但还有另一种情况，就是页面跳转再返回后，使用islider.slideTo(i);跳转到有链接的那张图片后，会出现右侧没有图片的情况。具体情况是
onslidechange:function(){
            history.pushState(null,'New Page', '#index='+islider.sliderIndex);
}给每个页面添加唯一的url,在当前页面添加链接，比如连接到http://www.baidu.com，再回退，使用islider.slideTo(i);跳转到链接页，会出现右侧没有图片，左侧有，滑动到左侧页面，再返回，就可以看到链接页右侧的页面了，希望您能帮我看一下是什么原因导致的，谢谢！

[2015-02-02 03:26] xieyu33333 commented on #158
islider会生成3个`<li>`容器,你检查一下右侧对应的li内是否有内容，如果有，检查一下是否被置为了visibility：hidden。

[2015-02-02 03:31] Dsummer commented on #158
嗯，我看一下，右侧对应的li中visibility：visible的，但是是一个空的li，但是右侧的li中应该是有数据的，

[2015-02-02 03:43] xieyu33333 commented on #158
那你需要打断点看一下下面这段代码，看看是否正确执行
       if ( Math.abs(n) > 1) {
            this._renderItem(els[0], idx - 1);
            this._renderItem(els[2], idx + 1);
        } else if (Math.abs(n) === 1) {
            this._renderItem(sEle, idx + n);
        }

[2015-02-02 05:11] Dsummer commented on #158
正常情况下都是执行else语句，但是从连接返回来，使用islider.slideTo(i)之后，执行的if语句，是这里的问题吗？

[2015-02-02 06:43] xieyu33333 commented on #158
有可能，感觉问题描述的不是特别清楚，如果有可以访问的地址的话可以看一下。

[2015-02-02 07:31] Dsummer commented on #158
http://statics.witmob.com/two/index.html，这是链接，东西做的很粗糙，请不要介意，在第三页有一个文字链接，aaaaaaa，点击之后会跳转到baidu首页，然后再点击返回，返回到第3页，就会看不到右侧的页面了，通过查看元素也可以发现，第一个li里面是空的，没有数据

[2015-02-02 09:13] wtcsy commented on #158
lz你好
正在学习这个效果
请教个问题
如果不是当前正中间的图片
他的translateZ是怎么算出来的,让图片正好在容器的边缘？？？

[2015-02-02 09:18] wtcsy opened #160 "边缘图片的translateZ是怎么计算出来的？"
lz你好
正在学习这个效果
请教个问题
如果不是当前正中间的图片
他的translateZ是怎么算出来的,让图片正好在容器的边缘？？？

[2015-02-02 09:40] Dsummer commented on #158
朋友你好，关于iSlider里面详细的逻辑，我还没有仔细研究，目前处于刚会用的阶段，你的这个问题我也不清楚，还是请作者来回答吧，抱歉了

[2015-02-02 10:56] xieyu33333 commented on #158
你应该先获取location里的index值，然后再new iSlider，让initIndex等于index，另外建议你使用新版本，你使用的这个版本应该没有加入initIndex这个参数

[2015-02-03 02:50] Dsummer commented on #158
作者说的对，我的iSlider确实不是最新版本，因为这不是我开始的一个项目，所以没有考虑到这一点，给作者添麻烦了，很抱歉。按照作者上面给出的方法，问题完美解决，非常感谢作者，帮了我很大的忙，谢谢！

[2015-02-03 03:23] #158 closed

[2015-02-03 10:43] wtcsy commented on #160
好像已经理解怎么算了
不过这个问题我也没问清除
就是3d(rotate方式)方块变化的时候,怎么算translateZ
我按宽度的一半来计算可以是可以
娃哈哈!!!!!!!

[2015-02-05 07:46] Dsummer opened #166 "新版本在手机上使用时横向浏览模式，下拉会移动图片"
作者你好，又来麻烦你了，很抱歉，是这样的我使用的新版本做的杂志浏览，横向浏览模式，但是下拉图片时会出现图片下移，露出浏览器的黑色背景，但使用旧版本的话并不会出现这个问题，下拉图片是不会有反应的，请问这是什么原因导致的呢，我应该怎样去修改达到我想要的效果？

[2015-02-05 08:22] Dsummer commented on #166
刚才去中文官网看了一下，在最后提供的所有demo都有这个问题，在手机微信上观看时，下拉都会有图片下移的效果，竖版浏览时也会出现，滑不到图片，而是滑到了浏览器背景，

[2015-02-05 08:28] xieyu33333 commented on #166
需要你修改一下源代码，在`iSlider.prototype.startHandler`中加入`evt.preventDefault();` 因为考虑到纵向滚动的支持，在新版本中移除了禁用默认事件，后续我会添加一个配置项。

[2015-02-05 08:29] #160 closed

[2015-02-05 08:36] Dsummer commented on #166
赞！没问题了，谢谢作者，辛苦辛苦！

[2015-02-05 11:13] #166 closed

[2015-02-07 01:57] MrliMr opened #169 "Bug:"
怎么样绑定事件呀，滑动开始，滑动中，滑动结束。

[2015-02-07 07:25] lansexinyu520 opened #170 "有关该插件如何获取当前显示图片是哪一张的的解决方案！"
你好，我现在在使用这个插件，但是我有个需求，就是在切换图片之后，我想获得这个是第几个图片，我可以怎么获取到呢？

[2015-02-08 05:34] qbaty commented on #169
reamme 里有自定义事件的说明：onslidestart, onslide, onslideend, onslidechange

[2015-02-08 05:34] #169 closed

[2015-02-08 05:35] qbaty opened #171 "Demo page 404"

[2015-02-08 05:36] qbaty opened #172 "Add a documentation for islider & plugin"

[2015-02-08 05:51] xieyu33333 commented on #170
你好, 使用`islider.slideIndex`就可以得到索引值

[2015-02-09 02:39] lansexinyu520 commented on #170
谢谢，我找到了onslideend这个函数的回调可以获得索引值，很感谢你的回答！

[2015-02-09 07:25] #171 closed

[2015-02-09 07:25] #170 closed

[2015-02-12 06:04] lansexinyu520 opened #176 "Bug: 你好，我在使用这个插件的时候发现了两个问题。"
1、我是用的轮换dom的方式，在安卓手机上面，手指滑动轮换的时候会比较卡顿，ios没有这个问题，浏览器是用的是微信自带浏览器。
2、也是轮换的dom，但是在ios上发现一个问题，页面加载完成之后dom元素没有马上显示出来，而是等我手指触摸之后才显示，安卓没有这个问题。
调用插件的方式：
var list = [
    {
        content: '<a href="javascript:chooseTopic(1)"><img src="1.jpg?v=<?php echo $version?>"/></a>',
    },{
        content: '<a href="javascript:chooseTopic(2)"><img src="2.jpg?v=<?php echo $version?>"/></a>',
    },{
        content

[2015-02-15 03:31] taozhiw opened #177 "官网示例有几处变量声明没注意大小写。"
![image](https://cloud.githubusercontent.com/assets/8348553/6201982/f2497f58-b505-11e4-9182-4039cfccc815.png)

[2015-02-16 03:47] qbaty opened #178 "关掉Android 低版本硬件加速！"

[2015-02-16 03:56] xieyu33333 commented on #176
你好，能否给出您安卓的机型和系统版本？

[2015-02-16 04:02] xieyu33333 commented on #177
感谢指正，已修正~

[2015-02-16 04:02] #177 closed

[2015-02-25 01:21] gnastnosaj opened #180 "chrome下动态加载有时候会失效"
chrome下动态加载有时候iSlider会失效，控件高度为0且无内容显示，我用的版本是chrome 39

[2015-02-25 05:08] gnastnosaj opened #181 "关于事件绑定的问题"
iSlider加载内容的机制导致dom绑定的事件会失效，请教有效解决办法。

[2015-02-25 05:13] qbaty commented on #181
可以用事件代理来做，绑定在外层元素上

[2015-02-25 05:29] gnastnosaj commented on #181
dom是iSlider这样的控件怎么办呢？比如嵌套的时候

[2015-02-25 07:05] xieyu33333 commented on #180
Android Chrome 还是 PC Chrome？

[2015-02-25 07:07] xieyu33333 commented on #181
iSlider提供了一个bind方法，islider.bind('click', '#id', callback)

[2015-02-25 08:01] gnastnosaj commented on #181
谢谢

[2015-02-25 08:01] #181 closed

[2015-02-25 08:01] gnastnosaj commented on #180
PC Chrome

[2015-02-25 08:06] gnastnosaj commented on #180
<ul style="height: 0px; width: 1366px; margin: 0px; padding: 0px; list-style: none; cursor: pointer;"><li class="islider-pic" style="height: 0px; width: 1366px; -webkit-transform: translateZ(0px) translateX(1366px); -webkit-transition: none; transition: none; visibility: visible;"><img width="1366" src="img/13820932830161765573360.jpg"></li><li class="islider-pic" style="height: 0px; width: 1366px

[2015-02-25 08:08] gnastnosaj commented on #180
"<ul style="height: 0px; width: 1366px; margin: 0px; padding: 0px; list-style: none; cursor: pointer;"><li class="islider-pic" style="height: 0px; width: 1366px; -webkit-transform: translateZ(0px) translateX(1366px); -webkit-transition: none; transition: none; visibility: visible;"><img width="1366" src="img/13820932830161765573360.jpg"></li><li class="islider-pic" style="height: 0px; width: 1366p

[2015-02-25 08:11] gnastnosaj commented on #180
修改div的html内容来动态添加控件（包括js），有时候正常，有时候iSlider宽度是最大宽度，高度为0。概率55开。

[2015-02-25 09:14] xieyu33333 commented on #180
这个应该是你接口请求的时序问题，和iSlider本身无关，你查看一下wrap内部，dom应该都已经正常生成了，只是wrap的宽高为0导致的不显示。

[2015-02-27 05:55] ioriandy4 opened #184 "Bug:"
islider,在PC端还好，在手机端，用手指拖动的时候，很多时候无效，特别是拇指指慢慢拖动的时候，无效率大于50%！

[2015-02-27 06:08] xieyu33333 commented on #184
使用最新版本的islider，在配置中加入fixPage： true

[2015-03-05 09:45] #180 closed

[2015-03-05 09:45] #184 closed

[2015-03-16 09:09] aaronyang1122 opened #191 "请问如何在dom模式下添加<a>"
添加了一个url，chrome下模拟无效，请问这是怎么回事？

[2015-03-16 10:01] xieyu33333 commented on #191
因为阻断了touchstart时的默认事件，所以有两个解决方案：1、在opts里配置上`fixPage：false`，这种方式会在一些机型上有兼容性的问题。2、用JS获取相应链接实现打开。

[2015-03-16 12:25] xieyu33333 commented on #191
增加了这个新feature，新版本现在可以支持直接使用<a>链接

[2015-03-16 12:31] #191 closed

[2015-03-16 12:31] #176 closed

[2015-03-19 23:45] ioriandy4 opened #194 "Bug: 在画面如果有表单的时候，表单Input点击不了，求解决"
用了fixepage:true参数，在画面dom如果有表单的时候，表单Input点击不了，求解决，，，，我看了作者的代码，有判断如果点击的是a链接，就用js跳转，是否表单也要这样判断？我觉得就算阻止了画面点击的默认时间，但是画面里面的dom点击默认事件应该不会跟着取消吧，只要不冒泡下去就OK了

[2015-03-20 01:15] xieyu33333 commented on #194
都会取消的，touchstart的触发优先级更高，在touchstart这一层阻止默认事件就会导致链接、input这类无法正常操作。如果急用的话你可以根据自己的需要先fork一个版本加入input的适配，或者尝试使用fixPage: false。后续我会解决这个问题，谢谢~

[2015-03-22 03:36] ioriandy4 opened #195 "问题：请问如何在手指拖动屏幕的时候，不让画面跟着一起动呢？"

[2015-03-22 10:41] xieyu33333 commented on #194
已解决

[2015-03-22 10:41] #194 closed

[2015-03-22 10:59] xieyu33333 commented on #195
移除掉dom的transform随滑动距离变化的代码即可，你可以查看_animateFuncs这个对象。不过画面一起动和移动端原生组件的表现是一致的，个人建议保留该效果。

[2015-03-24 14:05] fanrong33 opened #199 "当isOverspread开启的时候，useZoom失效，不合理"
现在iPhone那么多分辨率，一张图片，不可能刚好适合屏幕分辨率。

所以一般是默认filled，但是可以缩小，看被挡住的部分。

参考：微信朋友圈的图片浏览功能

[2015-03-24 14:19] xieyu33333 commented on #199
朋友圈是调用的是系统原生图集，islider目前已经做了自适应，不选择isOverspread也能保证对屏幕的适应，isOverspread是用于平铺占满屏幕，采用的是background而非<img>标签，因此目前还无法实现useZoom。

[2015-03-24 14:47] fanrong33 commented on #199
了解了，希望以微信朋友圈的图片集的用户体验为目标，用户体验还是有待优化。
不过已经做得很好了，赞！

[2015-03-24 14:58] fanrong33 opened #200 "iSlider有ajax加载图片的功能吗？"
需求是这样的，比如一个图集可能有50张图片，但是一次性加载肯定会很耗流量，
所以想要默认加载10张，当看到第8张了，再加载下10张图片。

[2015-03-24 15:01] xieyu33333 commented on #200
现在本来就是这样的，你一次性取过来50张并不会都加载，而是只加载3-5张（取决于是否允许循环），此后每次滑动都会预加载下下张。

[2015-03-24 15:06] fanrong33 commented on #200
假如50张都是网络地址图片。允许循环会有什么差别？
可以手动控制这些预加载机制吗？

但是我将 default.html 放到app上，体验不是很好，特别图片多的情况下，例如20张，
图片会突然变出来，还没下载完的时候，则连续很多张全部都是黑的。

[2015-03-24 15:24] xieyu33333 commented on #200
没什么差别，你如果滑动速度快的话的确会有这种情况，目前的策略是图片load完成后才会展示，所以会有突然变出来的情况，没下载完那么肯定会是黑的。滑动速度很快的话任何图集程序都会出现类似的问题，这个无解。比如微信的做法是先使用已经加载完的小图，大图load完之后再展示大图。但是这个就属于定制化的需求了。

[2015-03-25 00:52] fanrong33 commented on #200
建议看下微信图集，它是滑动到下一张，显示菊花加载中，再显示图片出来

[2015-03-25 01:28] fanrong33 opened #201 "iSlider有提供动态修改data数据的能力吗？"
目前说明文档都是通过data数据在new对象的时候进行初始化的，是否有提供动态修改data数据的接口？
[code]

[2015-03-25 01:46] xieyu33333 commented on #200
加loading简单，确实可以提高体验，后面我会考虑加上去。

[2015-03-25 02:51] xieyu33333 commented on #201
可以啊，修改islider.data就可以了。

[2015-03-26 00:35] #201 closed

[2015-03-30 15:48] qiuling2014 opened #202 "设置内容区overflow：scroller时，左右能滑动，上下不行。"
设置内容区overflow：scroller时，左右能滑动，上下不行。

[2015-03-31 03:47] xieyu33333 commented on #202
需要在配置中设置`fixPage: false`

[2015-03-31 03:49] qiuling2014 commented on #202
在官网的API中没看到这个配置啊

[2015-03-31 05:51] qiuling2014 commented on #202
安装你说的配置添加fixPage：false后，还是不能上下滑动啊。测试的DOME是‘demo_with_navigator’

[2015-03-31 06:10] qiuling2014 opened #203 "什么时候能通过bower install啊"
什么时候能通过bower install啊

[2015-03-31 06:11] qiuling2014 commented on #202
@xieyu33333 @qbaty

[2015-03-31 06:37] xieyu33333 commented on #202
你需要把外层容器设为overflow：auto啊，外层容器是由用户自己定义的，插件不控制的。

[2015-03-31 10:34] #202 closed

[2015-03-31 15:01] qiuling2014 opened #204 "设置内容区overflow：scroll时，左右能滑动，上下不行。"
1、测试是使用的demo_with_navigator.html的例子；
2、在class为page的div上设置的overflow：scroll；
3、能上下滚动，但是不能滑动，移动端必然失效；
4、尝试过使用fixPage: false,仍然不起作用；
@qbaty @xieyu33333

[2015-04-01 05:06] xieyu33333 commented on #204
isVertical: true 这个才是上下滑动的开关，我以为你说的是要左右滑动，内部滚动的效果。。。

[2015-04-01 08:13] qiuling2014 commented on #204
http://www.evolve-sys.com/#/posters/7?project_id=7 mobile端打开，想实现这种效果，能左右滑动切换page，同时当前page也是可以上下滑动的

[2015-04-01 09:14] xieyu33333 commented on #204
抱歉，你给的例子需要注册才能看，还是不明白你到底需要什么效果。

[2015-04-01 09:49] qiuling2014 commented on #204
http://www.evolve-sys.com/#/posters/1?project_id=1 这个应该可以看到

[2015-04-01 09:57] qiuling2014 commented on #204
麻烦你再看一下上一条回复的链接，谢谢了

[2015-04-01 10:40] xieyu33333 commented on #204
移动端上在安卓4之前的系统是不支持原生内部滚动条的，所以需要iscroll等使用js来模拟滚动条实现，你可以看一下iscroll

[2015-04-01 10:44] qiuling2014 commented on #204
你看一下我贴的链接吧，islider能实现这样的交互吗？好实现吗，我看了api觉得没什么问题，现在滑动只能上下或只能左右，这个是不是阻止了默认事件？

[2015-04-01 11:11] xieyu33333 commented on #204
可以实现，我之前用islider做的应用就是类似这样的。你不要参照demo_with_navigator.html的例子，那个例子里#iSlider-wrapper被随便给了一个1000的值，所以滚动条肯定出不来，因为你的内容压根没撑满。

[2015-04-02 01:36] qiuling2014 commented on #204
![image](https://cloud.githubusercontent.com/assets/7693223/6956112/9a8cbcdc-d91b-11e4-97d1-079530b5b438.png)
已经出现滚动条，但是不能滑动，滚轮滚动是没有问题

[2015-04-02 02:54] xieyu33333 commented on #204
滚动条出来就可以了，手机上是可以滑动的。（安卓4&iOS5以下是不行的）

[2015-04-02 02:54] #199 closed

[2015-04-06 16:52] #204 closed

[2015-04-09 10:20] sunzhijun opened #206 "当页面比较长，头部有个轮播图的时候，正常情况下手指上下滑动滚动条也会跟着动，但问题是手指滑动在此区域时无法滑动滚动条，请问如何解决啊？"

[2015-04-09 12:00] dingquantracy opened #207 "initIndex 为图片长度剪1 的时候 有问题"
initIndex 为图片长度剪1 的时候 有问题,

Uncaught TypeError: Cannot set property 'loaded' of undefined

[2015-04-09 12:36] xieyu33333 commented on #206
islider默认会阻止默认事件，可以在配置参数中加入`fixPage: false`来解决。

[2015-04-09 12:36] #206 closed

[2015-04-09 12:36] #200 closed

[2015-04-09 13:52] xieyu33333 commented on #207
感谢反馈，已修复~

[2015-04-09 14:27] #207 closed

[2015-04-10 02:24] sunzhijun commented on #206
var opts = {fixPage: false} 之后还是不可以，还有个问题是手机浏览竖屏和横屏可不可以自适应呢

[2015-04-10 09:39] xieyu33333 commented on #206
你是说横竖屏切换的效果吗？这个做了处理，但是在某些浏览器上不兼容。

[2015-04-12 19:16] xieyu33333 commented on #203
后续会考虑加上

[2015-04-14 03:30] sunzhijun commented on #206
是的，手机上自带的旋转功能，当竖屏切换到横屏的时候会有问题。我暂时的解决方法是先判断横屏还是竖屏如果他们之前有切换就重新调用islider。不过貌似这样不太好...

[2015-04-15 06:10] #178 closed

[2015-04-15 06:10] #195 closed

[2015-04-16 03:25] fanrong33 opened #209 "添加loading开关，主要用于图集功能时候，提高用户体验"
添加loading开关，主要用于图集功能时候，提高用户体验

[2015-04-20 09:43] xieyu33333 commented on #209
这个有的, isLoading

[2015-04-20 09:43] #209 closed

[2015-04-21 08:21] MyNameIsJimGreen opened #212 "the islider just can be use as the usage of your demos"
many issues

[2015-04-24 05:49] xieyu33333 commented on #212
Thank you , I fixed it.

[2015-04-24 05:50] #212 closed

[2015-04-28 06:31] dingquantracy opened #214 "连续几次放大的时候，图片位置会偏移"

[2015-05-06 02:06] luo123qiu opened #215 "能不能支持回调啊？"
dom载入完成后的回调。

[2015-05-06 02:08] luo123qiu commented on #215
@xieyu33333 来看看吧。

[2015-05-10 17:16] xieyu33333 commented on #215
目前没有，你说的载入完成的是指dom生成完毕还是首页全部加载完毕呢？

[2015-05-19 02:57] luo123qiu commented on #215
@xieyu33333 就是dom生成完毕之后，我想在内容加载完了之后绑定一些事件。

[2015-05-19 05:26] xieyu33333 commented on #215
dom生成完毕后图片并不一定加载完啊。

[2015-05-21 15:56] Bellzzy opened #216 "Bug: New两个iSlider对象，onslidechange有BUG"
任何一个对像移动时，都会影响onslidechange:

islider1 = new iSlider({
				    data: domlist,
				    type:'dom',
				    dom: document.getElementById("iSlider-show"),
				    duration: 3000,
				    animateType: 'default',
				    isAutoplay: true,
				    isLooping: true,
				    onslideend: function(idx){
				   		idx = idx +1;
				   		if(idx>=$("#iSlider-show li").size()){
				   			idx =0;
				   		}

[2015-05-22 08:38] xieyu33333 commented on #216
你可以在页面上把islider1和islider2这两个对象打印一下吗？

[2015-05-23 13:49] Bellzzy commented on #216
目前项目中已经换别的方法，但还是很喜欢iSlider.

[2015-05-23 13:49] #216 closed

[2015-05-28 05:51] sirzxj opened #217 "数据是动态增加的怎么处理 ？"

[2015-05-28 10:48] xieyu33333 commented on #217
重设islider.data的值，然后使用islider._renderHTML(), 后续我会暴露一个更易用的方法出来

[2015-05-28 11:10] xieyu33333 commented on #217
添加了一个方法: `loadData`.
islider.loadData(data, initIndex), 第一个参数是载入的data, 第二个参数是起始的index

[2015-05-28 11:45] sirzxj commented on #217
感谢~~~

[2015-06-03 07:40] cq916 opened #220 "改进意见"
能否在滑动的时候加一个loading状态，如果下一屏幕的内容比较多。没有加载完之前加一个loading 。加载完了之后再滚动到下一屏。我现在用的时候发现，如果下一屏内容多，就卡在中间，觉得不是太好。求解决。

[2015-06-03 17:55] xieyu33333 commented on #220
loading是有的，在opts中将isLoading设置为true即可，不过只对纯图片类型生效

[2015-06-03 17:55] #220 closed

[2015-06-04 07:37] yanxiyue commented on #217
如果之前addDot过， loadData以后没有重新处理dot， 这个不太对。
1. 建议addDot改成配置项
2. loadData里根据配置重新渲染下

[2015-06-04 07:54] xieyu33333 commented on #217
好建议，这里确实是疏忽了

[2015-06-07 02:44] Ycqing opened #221 "Question:: 动态加载图片，首次加载宽高等值都是0，怎么解决呀"

[2015-06-07 03:44] xieyu33333 commented on #221
可能是你的容器设置的不对，可以参考demo

[2015-06-07 04:14] Ycqing commented on #221
前辈，我现在想做一个类似于美团点击查看商品相册的功能，
图片是网络上的，拼成的字符串，
data: '[{content:"http://cs.aichezhijia.com//uplode/bidding/images//797566c3d4c64aa6bed55e27c599ec03.jpg"},]',
这样写对不对呀
为什么自动提交了一个请求到服务器上了啊，实在弄不明白了

[2015-06-07 04:43] xieyu33333 commented on #221
当然不对了，data接受的是一个数组，你给的是个字符串啊

[2015-06-07 06:06] Ycqing commented on #221
前辈，您完美的解决了我的问题，
我在chrome浏览器上试的，双击能放大，然后有这么一个错误提示
Uncaught TypeError: Cannot read property 'pageX' of undefined

还有就是我有些图片很小，怎么才能让小图不自适应屏幕宽度呀

[2015-06-07 06:15] Ycqing commented on #221
研究出来了...改了改css样式，3Q

[2015-06-08 09:52] hexiaoweiff8 opened #222 "疑似bug"
在设置initIndex的时候会报错(只使用了core), 发现是slideIndex被当成了字符串型. 需要转换为Int型
![image](https://cloud.githubusercontent.com/assets/6479152/8032224/117986fc-0e07-11e5-9c02-f4e06b9696d1.png)

[2015-06-08 10:02] xieyu33333 commented on #222
设置initIndex时用的是字符串，那slideIndex就会被置为字符串，这里确实有些不太严谨

[2015-06-09 11:30] #221 closed

[2015-06-09 11:30] #215 closed

[2015-06-10 03:15] littledu opened #223 "点击事件执行了两次"
1. islider 居然没有 oninit ，也就是 dom 完成的回调，导致我想给所有图片绑定事件得用事件代理
2.用了事件代理之后，居然 tap 事件执行了两次，如下代码：

[code]
咋搞

[2015-06-10 05:41] xieyu33333 commented on #223
你是引了zepto吗？因为islider内部也实现了tap事件，所以可能会执行2次

[2015-06-10 06:46] littledu commented on #223
@xieyu33333 是用了 zepto，那有什么更好的方案吗？我要实现 tap 事件

[2015-06-10 07:14] xieyu33333 commented on #223
目前iOS7&& android4.4以上系统已经没有300ms延迟了，可以直接使用click，或者选择不引用zepto的touch模块，或者删掉islider中tap的实现。

[2015-06-10 08:14] littledu commented on #223
酱紫啊，我现在的解决方法是：
[code]
如上，用计时器 hack 了一下，应该也没大问题

[2015-06-11 02:34] hexiaoweiff8 opened #224 "图片加载失败问题"
如果有一张或多张图片无效加载失败会导致dot数量与原始图片数量一致(包括无效的图片), 而加载的li的数量只有有效图片的数量, 这时候滑动会产生错误日志.
![image](https://cloud.githubusercontent.com/assets/6479152/8098661/52795536-1025-11e5-802c-eadac698baa8.png)

[2015-06-11 02:35] #222 closed

[2015-06-11 06:03] #223 closed

[2015-06-11 09:09] luciy commented on #2
现在版本 默认开启这个横屏检测吗？ 怎么配置的？

[2015-06-21 03:33] yanbinlucy opened #228 "当手指放在图片上进行上下滑动时的bug"
我的图片在手机屏幕最上面的一个小区域显示，当手指放在图片上进行上下滑动时，不能进行滑动，怎么进行处理？

[2015-06-21 03:47] xieyu33333 commented on #228
上下滑动和左右滑动是互斥的，设置`isVertical=true`可以上下滑动。

[2015-06-21 03:51] yanbinlucy commented on #228
哦，我不是想让图片上下滑动，图片我是要左右滑动的，我是想当手指放到图片上时，可以上下滑动屏幕，查看手机屏幕下的内容，这个要怎么做？

[2015-06-21 14:01] xieyu33333 commented on #228
设置`fixPage=false`

[2015-06-21 14:38] yanbinlucy commented on #228
多谢，已解决

[2015-06-23 09:19] #228 closed

[2015-06-24 06:23] xieyu33333 commented on #203
已加上，现在可以通过 `bower install iSlider`进行安装

[2015-06-24 06:23] #203 closed

[2015-07-02 02:35] lt1030 opened #231 "Bug: 容器内可以左右滑动，不能上下滑动"
在new slider中配置了fixPage: false不好使，新建对象中fixPage属性依然是true, 只能通过新建对象的属性来设置fixPage(islider.fixPage = false)，不知道是不是bug？

[2015-07-02 05:02] xieyu33333 commented on #231
容器指的是配置里面的dom那一项

[2015-07-02 07:18] #231 closed

[2015-07-06 09:02] lt1030 opened #232 "急!!!容器内元素事件代理"
dom类型，两个li，均为多个图片的展示容器，li内容器设置了overflow: auto, 想通过scroll事件监听容器内图片显示位置，按需加载，现在islider把scroll屏蔽掉了，用islider.bind("scroll", "", function(){})代理也没有效果，请问有什么建议么？

[2015-07-06 09:08] xieyu33333 commented on #232
设置`fixPage: false`

[2015-07-06 09:10] lt1030 commented on #232
非常感谢你的快速回复，已经设置fixpage: false，两个li是左右滑动的，设置之后在图片容器内可以上下滑动了，就是对图片容器设置不了scroll监听事件

[2015-07-06 09:36] xieyu33333 commented on #232
iSlider没有屏蔽scroll事件

[2015-07-06 10:07] lt1030 commented on #232
你说的是正确的，确实没有屏蔽，不过也设置不上对容器的scroll监听，zepto或者islider内置bind都不好用，只能用touchstart了，不知道有没有什么不良影响！~谢谢你的回答

[2015-07-06 10:13] xieyu33333 commented on #232
你看一下滚动条是在哪一个容器上的，是不是监听对了，另外在老版本的设备上div内是无法设置滚动条的，只能在body上设置。

[2015-07-13 06:55] teng315 opened #233 "目前功能太简单了，只是实现了效果，没有实现回调、过程"
比如，滑动页面的时候应该有start、end、success回调函数，回调中应该加入参数，参数是当前页面的样式等
还比如：参数中的data非必须，因为，有时候要在每个滑动的页面中加入很多的html代码，不可能全部加入到data中吧，呵呵。很不方便哦

[2015-07-13 07:23] xieyu33333 commented on #233
回调函数都有，请仔细查阅文档，另外本身的设计就是数据直接生成视图，并且请自己仔细查看dom结构，我们的设计是只用3个容器，动态加载数据，避免大数据量下的性能问题，因此不能在页面中直接写html代码，如果你更习惯直接写html，并且不care大数据下的性能问题，建议你使用swiper。

[2015-07-13 07:23] #233 closed

[2015-07-14 15:22] zllu opened #234 "Bug: tap or click"
$("#iSlider-wrapper").on("click", function () {
            Api.imagePreview(imgUrl[0], imgUrl);
        });
点击事件无效.....

[2015-07-14 23:06] xieyu33333 commented on #234
请提供更多的信息，就给这么一句，没有任何上下文根本没法进行任何判断啊。

[2015-07-15 02:36] #232 closed

[2015-07-15 06:29] zllu commented on #234
我这边应用场景是点击silder的图片/dom打开微信里面的全屏图片查看控件
1.wiki里面提到了上面绑定点击事件的方式，试了下，无效
2.我做了改写，新增了onclick，65行
// Callback function when the finger move out of the screen
this.onslideend = opts.onslideend;
//以下是新增
            this.onclick = opts.onclick;
///553行
 if (el.className === 'islider-dom') {

///在getLink方法内新增触发onclick
                    if (_this._opts.onclick) {
                        _this._opts.onclick

[2015-07-15 07:54] xieyu33333 commented on #234
事件绑定应该使用事件代理的方式，可以使用jQuery或者zepto的on()方法，如果没有使用这类库，iSlider也提供了bind方法来进行事件代理。
[code]

[2015-07-15 07:57] xieyu33333 commented on #234
bind方法的第二个参数是容器内部，也就是你的content中的某个元素的选择器，如果你使用容器本身则不管用。

[2015-07-15 14:00] zllu commented on #234
多谢，现在问题解决了。用我上面的方法，
onclick: function (i) {
//alert(i)
弹出微信imagePreview
}
当弹出微信窗口后问题解决，但是如果还是放alert的话，在安卓下面是没有问题，ios版微信下面还是有2次alert，没太理解是什么原因导致这个问题的，不过还是谢谢你的解答

[2015-07-24 07:52] chongyuan opened #235 "能否提供当前页的index呢？"
在做手机商城时，遇到一个需求：需要显示出共有几个图片，然后当前是第几个图片；

[2015-07-24 08:45] xieyu33333 commented on #235
当前的index使用islider.slideIndex可以拿到

[2015-07-24 13:24] chongyuan commented on #235
好的，谢谢您；
islider.slideIndex
可是我在下面参数表格中并没有找到slideIndex，像slideIndex这样的参数或属性是否有表格列出呢？（就像配置参数一样的表格）；
另外，共有几张图片是否是islider.length呢？

[2015-07-28 03:10] floatingtony opened #236 "请问如何让button在手机端也可以点击"
我在dom类型的data中设置了一个button，发现网页端可以点击，但是手机端不可以点击，请问如果才能让手机端也能点击

[2015-07-28 03:47] xieyu33333 commented on #236
可以用事件代理给button进行事件绑定

[2015-07-28 08:30] floatingtony commented on #236
绑定了button也不能用，但是换成input就可以了，不知道为什么，不过解决了就行

[2015-08-01 06:55] #236 closed

[2015-08-02 03:48] weidezh opened #237 "如何解决页面上下滑动的问题？"
一个页面上，我放了若干个iSlider，图片都默认水平滑动。

问题：在iSlider区域，上下滑动页面就失效了。只能滑动非iSlider区域，才能上下滑动页面。

嗯，我看到有人改了个js，找了找没找出改哪儿了....

是设置的问题？还是需要修改js?

[2015-08-02 04:01] xieyu33333 commented on #237
配置项里设置：`fixPage: false`

[2015-08-02 04:13] weidezh commented on #237
感谢！这么快回复了！

不过， 我用了最新的iSlider.js，也配置了。居然我手机上不行~~ 就是下面这个地址~

http://www.jihousecn.com/m/reservation.html

[2015-08-02 04:39] xieyu33333 commented on #237
感谢，这是一个bug，你可以先在new完之后使用：`islider8001.fixPage = false`来解决，稍后我会修复。

[2015-08-02 04:42] weidezh commented on #237
牛B!!!!!!!! 感谢！！！！！！！

[2015-08-02 04:53] #237 closed

[2015-08-02 04:54] #234 closed

[2015-08-15 00:50] 1451417401 opened #239 "手机端为li.islider-pic绑定click事件无法响应"

[2015-08-15 11:14] xieyu33333 commented on #239
由于内容是动态加载的，所以请使用事件代理来进行绑定

[2015-08-15 12:07] 1451417401 commented on #239
我看了源码里的  iSlider.prototype.bind  = iSlider.prototype.delegate这个方法，但我觉得touch事件的处理对click或tap事件还是存在影响的，我bind click后不响应，bind tap后响应两次，对于响应两次我目前的做法是在tap的事件处理函数的最后调用trigger('touchcancel')来解决，不知是否有更好的方法！

[2015-08-31 06:00] james9527 opened #241 "直接跳到某张图片"
项目大概是这样的，一堆图片列表（带些文字描述），要实现点击某张图片立即显示，我用的是islider.slideTo(index)。虽然可以实现，但会先显示第一张然后显示第index张，能不能实现立即显示？

[2015-08-31 06:03] james9527 opened #242 "页面初始化后，点击图片第一或第二张，原有dom加载出来的图片src变为空，导致不能显示前两张图片？"
见标题

[2015-08-31 07:16] hogxo opened #243 "android app里面页面晃动"
在Android app里面嵌入网页时，每次切换时页面元素会跟着晃动一下

[2015-08-31 09:42] xieyu33333 commented on #243
应该是你外层的容器没有overflow：hidden

[2015-08-31 09:42] xieyu33333 commented on #241
目前不行，后续的新版本会支持

[2015-08-31 09:44] xieyu33333 commented on #242
没有遇到过这样的情况，可否看一下你实现的代码

[2015-08-31 11:11] james9527 commented on #241
好的，好期待～

[2015-08-31 11:14] james9527 commented on #242
请问有qq群吗？发现遇到问题只能在这提问，不方便。。。代码我稍后贴出来

[2015-08-31 11:19] james9527 opened #244 "图片长按不能保存"
长按图片禁用了浏览器的保存图片功能吗？有什么解决方案？在线等，谢谢～～

[2015-09-01 02:27] james9527 opened #245 "是否可以在点击事件时给iSlider-wrapper容器填充数据？(延伸出好几个问题)"
首先，我这是单页应用，用ajax动态取各个频道的图片列表数据。现在是页面初始化时把加载过来的数据填充到iSlider-wrapper里去，尝试过在点击缩略图时给iSlider-wrapper填充数据(默认加载一个频道的数据)，发现不能这样？这时问题就出现了。1、把数据填充完后要隐藏iSlider-wrapper容器，在点击缩略图时再用iSliderObj.slideTo(index)跳转到对应的大图。2、在点击其它频道的列表数据时，数据还是前一个频道的数据。这时我只能刷新页面来初始化当前频道的数据。我的初始化代码：
          var iSliderOpts = {
		    type: 'pic',
		    data: imgDetailObj,//让当前加载数据成为数据源
		    dom: document.getElementById("iSlider-wrappe

[2015-09-01 02:35] #242 closed

[2015-09-01 10:04] hogxo commented on #243
有overflow，奇怪的是手机浏览器、微信浏览器，ios没问题，只有部分Android手机有问题。
只有用了相对、绝对定位的元素有影响

[2015-09-05 15:53] xieyu33333 commented on #241
如果我没理解错的话，你可以设置初始化时的index，目前可以通过在配置中设置 `initIndex = 3` 这样来解决

[2015-09-05 15:53] #241 closed

[2015-09-05 15:53] xieyu33333 commented on #244
可以试试`fixPage = false`

[2015-09-05 15:55] xieyu33333 commented on #245
可以通过islider. loadData(data, initIndex) 来加载新的数据源

[2015-09-08 10:41] jstf9673 opened #246 "islider是否可以点击图片切换滑动动画"
islider是否可以点击图片切换滑动动画,
比如我想在animateType为depth时点击图片,切换animateType为default或者其他形式

[2015-09-09 06:36] james9527 commented on #244
不行，这个问题得尽快解决呀～提供的示例也不行的

[2015-09-09 06:39] james9527 commented on #245
可以了，谢谢

[2015-09-09 06:40] #245 closed

[2015-09-10 04:26] jstf9673 opened #251 "islider怎么修改图片大小???"

[2015-09-11 08:57] 3333426 opened #252 "内容都是采用定位，最外层没高度怎么办？"
采用定位，最外层没高度怎么办？

[2015-09-11 10:26] 3333426 commented on #252
一般用来做跑马灯的效果，然后高度是由内容里面图片来的，不同的屏幕尺寸，高度不一样。

[2015-09-13 11:40] xieyu33333 commented on #252
使用em/rem来定义高度，根据屏幕不同设置基准字体大小即可

[2015-09-18 02:30] #251 closed

[2015-09-18 02:37] jstf9673 opened #253 "怎么实现点击图片实现相应的功能?"
![image](https://cloud.githubusercontent.com/assets/10250573/9950790/0d80e696-5df1-11e5-9da0-08ae126d484a.png)
这样写只能点击图片的边缘才有效,怎么处理???
求解答

[2015-09-23 02:13] justloveouyangjie opened #254 "必须要设置height:，不然不不显示"
为什么一定要height: ;才能显示呢

[2015-09-24 13:25] shinate commented on #217
2.X 版本 重构了dot， reloaddata之后会触发事件，重新渲染dots

[2015-09-24 13:26] #217 closed

[2015-09-24 13:27] shinate commented on #235
2.X 事件回调机制增加了参数， this 与 最后一个参数为islider实例上下文，第一个参数为当前index

[2015-09-24 13:27] #235 closed

[2015-09-24 13:30] shinate commented on #253
后续会添加效果热切换的方法~

[2015-09-24 13:30] shinate commented on #254
2.X已对样式进行更新，默认高度为100%

[2015-09-24 13:32] shinate commented on #252
最外层高度是需要自定义的，直接覆盖默认样式即可

[2015-09-24 17:35] shinate commented on #244
是否开启了css背景渲染模式？

[2015-09-25 07:02] shinate commented on #246
十一假期后的第二个星期会进行迭代，加入切换功能，调用方式预计为 islider.switchAnimate(String:type)

[2015-10-07 08:19] kiinlam opened #255 "bind之后貌似不能unbind啊"
原型中的bind方法，没有把eventType、seletor、callback管理起来，在不需要的时候没法destroy。
建议增加unbind方法。

[2015-10-07 08:33] kiinlam opened #256 "destroy方法的目的是？"
原型中destroy方法并不是清理得很干净，这个方法目的只是清除部分事件绑定吗？
还有些地方可以处理：
1、自动播放计时器；
2、调用bind时增加的事件监听；
3、一些dom的引用，如outer、wrap；

[2015-10-08 02:22] shinate commented on #255
后续会添加支持~

[2015-10-13 07:06] riskers opened #257 "感觉API并没有全"
像是`addDot`这样的方法我是看demo才看到的，看API的时候还奇怪怎么会没有这种方法

[2015-10-13 08:46] shinate commented on #257
addDot为旧版插件的初始化方法，新版本插件的注册和激活方式已经变更。请参考2.X分支，将在本周内发布。

[2015-10-14 05:14] shinate commented on #244
已经加入了保存功能~

[2015-10-14 05:14] #244 closed

[2015-10-14 05:14] shinate commented on #172
Readme Added

[2015-10-14 05:14] #172 closed

[2015-10-14 05:15] shinate commented on #246
同 #253

[2015-10-14 05:15] #246 closed

[2015-10-14 05:18] shinate commented on #257
现在激活插件的过程发生改变，引用插件文件，并在设置项中 加入 plugins: ['插件名']，比如dot。
addDot为后添加的需求，没有及时更新至文档，抱歉。

[2015-10-14 05:18] #257 closed

[2015-10-14 05:22] shinate commented on #254
最外层的高度还是需要设置的，由于使用场景的需求不同（可能只需要iSlider作为页面的某一部分），无法直接默认为自动填满整个屏幕

[2015-10-14 07:12] lococo--0 opened #261 "无法向下滑动"
本来只是想做个banner ·· 结果发现高度不能设定 ·· 上下滑动的事件也被prevent掉了

[2015-10-14 09:20] xieyu33333 commented on #261
可以在配置中设置`fixPage: false`解决上下滑动时间prevent的问题

[2015-10-14 10:01] DevilZh opened #262 "找了很久，没找到获取当前activePage对应的index值"
我想要实现一些css3动画，我习惯使用添加active的class,然后触发对应页面的动画效果，但是没找获取当前index值的接口啊。求告知…

[2015-10-14 11:14] xieyu33333 commented on #262
islider.slideIndex

[2015-10-14 14:28] shinate commented on #261
高度直接设置外容器就

[2015-10-14 17:16] shinate commented on #262
可以添加事件，islider.on('slideChanged', 回调)，回调方法传递的参数: function(事件名,index,当前容器节点(li), 当前iSlider实例自身)

[2015-10-15 02:55] DevilZh commented on #262
@shinate @xieyu33333 多谢，我昨天通过淘宝npm镜像下载的，发现版本是1.1.1
现在完美解决XD

[2015-10-15 02:59] lococo--0 commented on #261
@xieyu33333

看到文档里面并没有提到对应的config api，所以这是个隐藏的api咩

[2015-10-15 03:01] lococo--0 commented on #261
@shinate

但高度没办法自适应实在好蛋疼

[2015-10-15 03:02] lococo--0 commented on #261
@xieyu33333
诶？我在另外一个文档里找到这个接口了（扶额

[2015-10-15 06:11] shinate commented on #261
文档里确实丢了这项... 不好意思

[2015-10-15 07:12] lococo--0 commented on #262
@shinate 2.x是还没有release么，用bower装不到2.X

[2015-10-15 08:05] lococo--0 opened #263 "v1.1.1调用addDot没效果"
v2.0用着有问题，我又签回1.1.1了
但是1.1.1 我在加dot的时候一点反应都没有，dom里面什么都没找到

[code]

[2015-10-16 02:47] shinate commented on #262
昨天release的，估计是同步需要时间

[2015-10-18 09:47] shinate opened #264 "2.X Problems (问题汇总)"

[2015-10-18 10:11] shinate commented on #264
#255

[2015-10-18 10:11] shinate commented on #264
#255

[2015-10-19 06:53] lococo--0 commented on #264
dot plugin加入不了诶

[code]

dot plugin里面的回调完全没有被调用

[2015-10-19 07:37] xieyu33333 commented on #264
@lococo--0 相关资源是否加入页面？

[2015-10-19 08:38] lococo--0 commented on #264
@xieyu33333 那个dot-wrap放在iSlider-wrapper的parentNode里面了，不是应该放在iSlider-wrapper里面么？

[2015-10-19 12:37] lococo--0 commented on #264
[code]

这个直接把fixPage设为true了 ··

[2015-10-19 15:20] lococo--0 commented on #264
能不能在dot-wrap里面加个默认的背景样式呀 ·· 不然白点在白色的图片上面没有凸显 ··

[2015-10-20 03:28] xieyu33333 commented on #264
`this.fixPage = opts.fixPage || true;` 应该是代码合并的时候出问题了

[2015-10-20 06:38] shinate commented on #264
@lococo--0 2.0.1加入配置，dot可以设置加入的位置 relative=在iSlider wrap内，其他保持默认，和现在一样，还可以写成dom选择器，append到特定的容器里。

[2015-10-20 06:50] lococo--0 commented on #264
@shinate 棒！
所以现在应该是
[code]
这样咩？

[2015-10-21 11:43] shinate commented on #264
@lococo--0 是的

[2015-10-21 15:23] xieyu33333 commented on #256
你说的对，之前有issue提到单页应用中可能需要destroy，但是后续在应用中很少遇到这种场景，所以destroy方法一直没有更新。

[2015-10-21 15:23] xieyu33333 commented on #256
我们评估一下是完善destroy还是干脆移除它

[2015-10-21 17:02] lococo--0 commented on #264
有时候滑动会导致出现两个active dot，没有办法每次复现，但是多滑几次出现频率就很高。

[2015-10-24 15:58] shinate commented on #224
此问题已修复，图片数量已与场景数量无关，加载失败依然会显示场景与dot

[2015-10-24 15:58] #224 closed

[2015-10-24 16:01] shinate commented on #261
fixpage参数问题已修复

[2015-10-24 16:01] #261 closed

[2015-10-24 16:04] #262 closed

[2015-10-24 16:05] shinate commented on #256
重复实例化的场景很少，但还是保留吧，清理工作还得彻底一点

[2015-10-27 09:57] hanwsscan opened #270 "请问插件有效区域是不是和页面滚动条有冲突？"
请问插件有效区域是不是和页面滚动条有冲突？插件区域touch页面上下滚动无效！有解吗？

[2015-10-27 16:09] shinate commented on #270
请设置 fixPage参数为false，默认true屏蔽了原生事件

[2015-10-28 04:11] ilyasjan opened #272 "Bug: Cannot read property 'id' of null"
I have a problem.
Cannot read property 'id' of null

[2015-10-28 04:50] shinate commented on #272
@ilyasjan Where to produce?

[2015-10-29 06:03] hanwsscan commented on #270
谢谢！

[2015-10-29 06:05] #270 closed

[2015-10-29 12:50] johnny341 opened #273 "Bug: 缩放图片后不能切换的问题"
你好，我用Github上的：\demo\2.X\with-plugin-zoom.html
发现图片如果双指放大或缩小时，就不能横向滑动切换图片了，必须双击使图片还原至初始尺寸后才可以切换。
谢谢。

[2015-10-30 02:23] shinate commented on #273
@johnny341 目前的设计是靠双击识别进入和退出，双指目前没有退出能力......

[2015-10-30 02:45] johnny341 commented on #273
@shinate 你指的进入和退出是什么意思？退出什么？
谢谢

[2015-10-30 03:24] lizm-21 opened #274 "Bug:"
你好，大神。我下载下来以后在本地运行总是报  Uncaught TypeError: islider.addDot is not a function 或者是addBtn       麻烦加我一下qq：971292531

[2015-10-30 03:27] lizm-21 commented on #274
急。。。大神

[2015-10-30 06:15] shinate commented on #274
@lizm-21 用的哪个版本

[2015-10-30 06:17] shinate commented on #273
@johnny341 进入缩放模式，目前没有对双指的缩放幅度进行检测，所以，退出缩放模式只能靠双击

[2015-10-30 10:24] lizm-21 commented on #274
@shinate 就是从githup下载的版本。

[2015-10-30 10:25] lizm-21 commented on #274
没标注版本。。。

[2015-10-30 14:02] shinate commented on #274
新版已经取消了addDot的方法，可以更新一下代码，目前的插件已经变更调用方式，旧版可以尝试下载https://github.com/be-fe/iSlider/releases/tag/1.2.4

[2015-10-31 06:45] lizm-21 commented on #274
最新版在哪下载，还有一个页面里为什么不能实例化两次。

[2015-10-31 06:53] lizm-21 commented on #274
我已更新代码，还是不行。

[2015-10-31 06:59] lizm-21 commented on #274
![Uploading 屏幕快照 2015-10-31 下午2.54.56.png…]()

[2015-10-31 07:01] lizm-21 commented on #274
![Uploading 屏幕快照 2015-10-31 下午2.53.53.png…]()
![Uploading 屏幕快照 2015-10-31 下午2.54.56.png…]()

[2015-10-31 13:16] xieyu33333 commented on #274
你是否以前使用了iSlider，更新版本后失效？

[2015-10-31 15:04] lizm-21 commented on #274
没有，我就从githup下载的最新的。
http://be-fe.github.io/iSlider/index.html 这里下的也不行。
要不你试试。

[2015-10-31 15:04] lizm-21 commented on #274
还有关于一个页面实例化两次的问题。

[2015-10-31 15:51] xieyu33333 commented on #274
请展示你的代码，谢谢

[2015-11-02 12:46] lixiang111 opened #276 "Bug:"
中文版 最后多了个中括号字符串

初始化一个iSlider
var islider = new iSlider(document.getElementById('iSlider-wrapper'), data   }  );

[2015-11-02 14:41] shinate commented on #276
谢谢，已改 👌

[2015-11-02 14:41] #276 closed

[2015-11-02 14:43] shinate commented on #264
@lococo--0 需要看下你的例子

[2015-11-02 14:44] shinate commented on #255
2.0.2 已加入管理机制，用于unbind，在destroy时会自动解绑全部事件句柄

[2015-11-02 14:44] #255 closed

[2015-11-02 14:46] shinate commented on #263
@lococo--0 1.x的最新版本为1.2.4 尝试更新一下https://github.com/be-fe/iSlider/releases/tag/1.2.4

[2015-11-02 14:46] #263 closed

[2015-11-02 14:52] shinate commented on #239
可通过绑定不同的状态事件进行控制，或根据event.type进行区分

[2015-11-02 14:52] #239 closed

[2015-11-02 14:53] shinate opened #278 "Release and compare to gh-pages"
@xieyu33333

[2015-11-03 04:05] lixiang111 commented on #276
好

[2015-11-03 05:56] zhangyihua opened #281 "iPhone6 首次显示图片加载完成不显示"
在 iPhone6 加载图片的遇到的问题：
我的应用场景是，在点击小图后使用 islider 去加载大图进行滑动展示，对应的第一次显示的图片加载完了但是显示不出来，当点击一下图片容器区域就立马显示。后来在 islider.css .islider-pic 加个 1px 的 border 的时候就能正常，为什么我也不清楚。

[2015-11-05 05:00] shinate commented on #256
计时器与eventhandle清理已添加

[2015-11-05 05:00] #256 closed

[2015-11-06 04:16] shinate commented on #254
已经修复了高度问题，默认会将滚动体设置为狂傲100%

[2015-11-06 04:16] #254 closed

[2015-11-06 04:17] #252 closed

[2015-11-06 04:18] shinate commented on #253
@jstf9673 slideTo中可以传递第二个参数，配置 animateType 和 animateTime， 在2.0+ 版本

[2015-11-06 04:18] #253 closed

[2015-11-06 10:58] yangboy458 opened #289 "fixPage配置false后出现的问题！!"
大家好！
        由于项目需要，使用了 iSlider 2.X, 每页的数据长度不定可能需要滚动，所以按照文档 设置了fixPage:false，
但是在左右滑动切换的时候 同时又产生了上下滑动，就会出现下图一样的效果，画面停止不会回弹，导致无法正常使用，
请开发组的同志们帮忙看看有什么解决办法吗？谢谢！！（小米手机自带浏览器居然能正常运行没有这个问题）！！！
![qq 20151106184244](https://cloud.githubusercontent.com/assets/8253888/10995507/592ce796-84b8-11e5-842b-938c55a4cb3a.jpg)

[2015-11-08 14:51] shinate commented on #289
请提供，当前出问题的浏览器版本

[2015-11-10 01:39] #278 closed

[2015-11-11 09:50] DevilZh opened #290 "animateType设置为 'rotate'时的问题"
1. 滑动到最后一个场景时，布局会错乱；
2. 执行slideTo(0)命令跳转到指定场景时，并不是跳转到场景1，而是倒数第二个场景，而且场景数据会出错。

[2015-11-13 07:38] shinate commented on #290
@DevilZh 麻烦提供一下设备和浏览器的信息，iSlider的版本

[2015-11-16 08:33] jy02250344 opened #293 "图片超链接ios和安卓不生效"
无论我在<img></img>前面加a标签或者是在img里面加onclick事件，电脑端没问题，但是用safari和安卓浏览器打开就不生效。求解。。。

[2015-11-16 10:26] shinate commented on #293
移动端可以使用touchstart和touchend联合判断触发，如果使用框架就会方便很多，可以参考zepto的tap事件

[2015-11-25 06:17] pcaifeng opened #298 "data length 小于3 并且isLooping为true的情况下，有一屏为空白"

[2015-11-30 02:25] shinate commented on #298
mark

[2015-12-04 10:17] bluefox1688 opened #304 "Bug: click点击事件，有时触发两次，或者有时点击不成"
click点击事件，有时触发两次，或者有时点击不成
这个要怎么解决呢

[2015-12-07 12:54] shinate commented on #304
可以设置fixPage 参数为false，并且如果是移动端的话使用tap代替click

[2015-12-17 02:56] #304 closed

[2015-12-20 16:15] herozzm opened #308 "所谓的的demo 在移动端根本看不成啊"
左侧的菜单遮盖了大部分内容啊

[2015-12-22 02:31] xjchenhao commented on #243
@hogxo 我遇到了和你一样的问题,外层增加overflow,提高层级的方式都试过了.

为了防止fixed定位的抖动,我用`.viewport`图层模拟了滚动条. 如果不用这种方式就不会有晃动飘浮的问题.

[2015-12-22 03:47] shinate commented on #243
最外层宿主容器并没有设置尺寸和overflow，如果fixpage为false的情况下会产生晃动，当最外层容器在非fixed的情况下需要注意

[2015-12-22 03:48] shinate commented on #243
另外可以根据业务需要对某一帧单独添加样式，在onSlideChanged时更改

[2015-12-23 06:50] shinate commented on #308
目前确实是这样的，demo引导页没有加上手机的适配...， 后续会做优化的

[2016-01-07 02:58] claire1028 opened #317 "html中绑定了动态数据，如angular，动态数据一直显示不了"

[2016-01-07 03:27] xieyu33333 commented on #317
这个要看你的解析顺序，应该是iSlider载入内容后，再对模板进行一次解析，否则像Angular，你看到的应该仍然是{{ data }}这样的效果。

[2016-01-08 03:33] claire1028 commented on #317
好的，谢谢，顺便问下，为啥fixPage 设置成false，滚动条没有出现而且不能滚动？

[2016-01-10 04:25] xieyu33333 commented on #317
fixPage实际就是在touchStart的时候阻止了默认事件，所以滚动条不会出来

[2016-01-15 10:18] shinate commented on #317
可以使用content：dom 方式，直接操作句柄

[2016-01-15 11:16] shinate commented on #290
初始参数的bug，于2.0.9修复，谢谢您的反馈

[2016-01-15 11:18] shinate commented on #289
已解决，2.0.10修复，默认在wrapper 及 outer 添加了overflow，某些手机浏览器，主要是Android，会将transform一并计算宽度。

[2016-01-15 11:21] shinate commented on #281
已修正此bug，样式覆盖导致，2.0.9版本修复

[2016-01-15 11:21] #281 closed

[2016-01-15 11:22] shinate commented on #274
请参考最新文档，插件的初始化需要在参数中设置

[2016-01-15 11:22] #274 closed

[2016-01-15 11:24] shinate commented on #243
2.0.10设置了overflow hidden，使用场景确实需要此设置

[2016-01-15 11:24] #243 closed

[2016-02-03 11:21] hoipo opened #340 "安卓系统的slideTo方法没有动画效果"

[2016-02-04 06:20] shinate commented on #340
@hoipo 请提供下安卓的版本和浏览器类型

[2016-02-04 06:21] shinate commented on #340
在某些旧版安卓系统里，原生的浏览器对CSS3支持不足，确实没有效果的。

[2016-02-04 06:25] hoipo commented on #340
测试机型魅族MX4 Pro（安卓版本4.4.4）、华为P7（安卓5.0.2）都不行，在微信中的浏览器

[2016-02-15 02:26] #340 closed

[2016-02-15 10:08] jstf9673 opened #341 "在图片外层加一个超链接不能跳转"
[code]
像这样的怎么不能跳转，望大神能解答，谢谢

[2016-02-15 11:17] xieyu33333 commented on #341
href的值没加引号啊

[2016-02-16 01:18] jstf9673 commented on #341
thank you ,想不到还患这种低级错误。。。。。。。。。。。。。。

[2016-02-16 01:19] #341 closed

[2016-02-18 03:27] siweikoudai commented on #264
islider在移动端做焦点图时，如何响应li内dom的高度？

[2016-02-18 04:42] shinate commented on #264
@siweikoudai UL并没有设置高度，仅仅作为容器存在，如果需要可以单独写css进行设置

[2016-02-19 01:35] siweikoudai commented on #264
@shinate isAutoPlay设置为true后，slider无法自动切换？只加载了iSlider.min.js，需要加载其他插件么？

[2016-02-19 14:46] shinate commented on #308
正在优化，近期上线

[2016-02-20 08:36] dotku opened #342 "图片缩放功能有点啃爹--！"
最大化后，无法最小化了？！

[2016-02-22 08:31] phoenix-yassin opened #343 "Bug:"
![image](https://cloud.githubusercontent.com/assets/6100314/13212691/28f2526c-d97e-11e5-98ee-7314c5c1b84c.png)

when slier the page vertically, the whole page cannot sroll.

[2016-02-22 10:09] phoenix-yassin commented on #343
sorry , this problem is closed before.

[2016-02-22 10:09] #343 closed

[2016-02-22 14:26] shinate commented on #342
需要双击，这个问题目前还没修复，靠双指缩放目前恢复不到默认状态

[2016-02-22 18:01] dotku commented on #342
@shinate 大概是我们对百度的期望太高了些～在百度，每天都做些什么呢？

[2016-02-23 03:30] shinate commented on #342
@dotku 好多事情哦，忙死了，这些都是业余时间做的~

[2016-02-23 06:32] dotku commented on #342
@shinate 啊，辛苦了，明白了; issue close 吧

[2016-02-23 08:49] siweikoudai commented on #264
@shinate 焦点图放在页面的中间位置，手指在焦点图位置向下滑动，无法处理手机向下滑动页面

[2016-02-23 14:15] shinate commented on #342
mark 后续会修复

[2016-02-23 14:19] shinate commented on #289
overflow还是交给开发者自己来设置吧... 程序中优先级过高导致无法覆盖

[2016-02-23 14:20] #289 closed

[2016-02-23 14:20] #290 closed

[2016-02-23 14:21] shinate commented on #293
已经对超链接进行了处理

[2016-02-23 14:21] #293 closed

[2016-02-23 14:23] shinate commented on #272
Perhaps, global variables had a conflict with the dom id~

[2016-02-23 14:23] #272 closed

[2016-02-23 14:24] #317 closed

[2016-03-02 03:49] phoenix-yassin opened #346 "滑动越界"
比如我屏幕是500*600，iscroll里图片是500*200，在滑动iscroll时，iscroll容器的可视范围会变大，变成700*200，多余的部分是空白的，这是什么原因？

[2016-03-02 06:49] shinate commented on #346
是否规定了使用iscroll的容器的宽度？

[2016-03-02 10:25] phoenix-yassin commented on #346
容器的宽度就是整个屏幕的宽度

[2016-03-02 10:55] shinate commented on #346
有没有地方可以看一下你那的效果

[2016-03-03 01:06] phoenix-yassin commented on #346
![qq 20160303085615](https://cloud.githubusercontent.com/assets/6100314/13481120/e273fa32-e11d-11e5-8252-d40d706441e2.jpg)
![qq 20160303085704](https://cloud.githubusercontent.com/assets/6100314/13481136/fc2cc1f2-e11d-11e5-85bf-e74550137f19.jpg)

[2016-03-03 02:12] shinate commented on #346
有没有im之类的联系方式，发到我的邮箱 shine.wangrs@gmail.com

[2016-03-08 03:14] yanjun98 opened #349 "animation rotate"
dom模式下，在手机端打开，slider不能撑满容器。

[2016-03-10 03:39] hwwgh555 opened #350 "onslidechanged在火狐浏览器以及移动设备上无效"
事件回调函数onslidechanged，在火狐浏览器以及移动设备上无效，只是在chrome浏览器（PC 版本 46.0.2490.86 m）测试有效
Event Callback--onslidechanged，it does not work in firefox(vresion 43.0.4) and mobile devices and only work in chrome(PC version 46.0.2490.86 m)
代码示例：
var	islider = new iSlider({
        type: 'pic',
        data: list,
        dom: document.getElementById("wrapper"),
        isVertical: true,
        isLooping: true,

[2016-03-12 12:44] shinate commented on #350
mark

[2016-03-12 12:46] shinate commented on #349
已知问题，景深的解释移动端与pc有所不同，目前尚未修复，预计下一次大版本迭代会修复

[2016-03-16 03:44] yanjun98 opened #351 "transition not working on wechat browser with android"
在安卓微信浏览器里没有过渡了，其他浏览器是好的。

[2016-03-16 04:32] yanjun98 commented on #351
试了下在CSS里.islider-outer > li加上transition就可以了。

[2016-03-16 04:32] #351 closed

[2016-03-16 04:38] shinate commented on #351
目前的translation带有webkit前缀，没有做兼容处理，不知道安卓的wechat用的什么内核...... 后面会加上的。

[2016-03-21 07:04] shinate commented on #351
已做兼容处理 2.1.5修复

[2016-03-21 07:05] shinate commented on #308
已优化

[2016-03-21 07:05] #308 closed

[2016-03-21 07:06] shinate commented on #350
2.1.5已修复，加入火狐系列浏览器的支持，修复了无法触发的问题

[2016-03-24 06:14] #350 closed

[2016-03-24 13:28] Rockergmail opened #354 "如何开启click监听？"
如何开启click监听？

[2016-03-26 04:12] shinate commented on #354
在fixpage参数设置dom白名单策略，或者直接将fixpage设置为false

[2016-03-30 06:43] wsgfz opened #355 "滑到底(且不是循环)的时候, 可否新增一个配置项不让他继续滑动"
现在滑到底后, 还能继续滑动,然后反弹回来
有时候这个效果很好, 有时候又不需要这种效果
所以可否新增一个overScroll的option

[2016-03-30 13:47] worldstss commented on #354
原来设置白名单就行了。。我还每次去绑定个touchend事件。。。。

[2016-03-31 04:46] shinate commented on #354
近期才加的功能。。

[2016-03-31 04:47] shinate commented on #355
阻止弹性？

[2016-03-31 13:49] huzoukai opened #356 "在页面中放了个视频，手机横屏后，页面会重新加载，视频随之停止播放。"
我在一个项目中使用了iSlider，但是有一个页面是有视频的，但是页面在IOS环境下横过来的时候页面是会刷新的，视频就停止播放了。是否有什么办法能够解决横置刷新的问题？十分感谢！

[2016-03-31 14:50] shinate commented on #356
因为会重新计算场景尺寸，里面的视频也会重新渲染。
屏幕旋转会触发两个事件reset和slideRestored，一般用reset

如：
islider.on('reset', function(){播放视频})，
或者在初始化时设置new iSlider({onreset:function(){播放视频}})

需要判断下视频是否在当前帧，如果内容是dom引用的话可以保持播放进度

[2016-03-31 14:54] shinate commented on #355
2.1.6版本修复

[2016-04-01 03:17] shinate commented on #355
增加了一个 参数 dampingForce，取值范围0~1，默认0（可滑动距离大概为屏幕的60%），数值越大越难以滑动，为1时完全滑不动，前置条件必须为非循环模式

[2016-04-05 06:10] NeilZhou00 opened #357 "Bug: 当图片的缩放到最小比率后，不移动手指，图片会有抖动。"
实现步骤：
1.两指触摸屏幕，将图片缩小到最小的比率
2.不移开或是移动手指，图片将出现抖动的情况。

[2016-04-05 06:54] NeilZhou00 opened #358 "需求：添加单机回调事件。"
现在状态是：双击图片放大，
是否可以支持，单击/双击 回调呢？
有一些场景是 单击要触发的事件，如果不修改控件，外部没有办法使用。

[2016-04-05 06:57] shinate commented on #357
图片缩放是个历史遗留问题，未来会做一次优化

[2016-04-05 07:26] #354 closed

[2016-04-06 02:36] wsgfz commented on #355
nice~~

[2016-04-06 08:37] shinate commented on #355
@wsgfz 已发布

[2016-04-07 06:07] wsgfz commented on #355
已经用上啦~

[2016-04-07 06:07] #355 closed

[2016-04-07 06:29] wsgfz commented on #355
已经用上了~

[2016-04-08 06:32] shinate commented on #298
目前的所有效果及数据展现，前置条件为至少有3帧，不足的话建议用非Loop的方式

[2016-04-08 06:32] #298 closed

[2016-04-14 17:23] Erwin11 opened #362 "为什么这个插件不像微信的轮播组件一样把图片链接的数据放在DOM中？"
https://github.com/wechatui/swiper
微信的轮播，淘宝的kissy的轮播都是把<a><img></a> 放dom里，然后JS只是控制行为。为什么百度这个组件要把图片链接放在js里去配置呢？
图片链接是改动最频繁的啊

[2016-04-15 06:59] shinate commented on #362
可以的呀，支持多种数据格式，图片url只是其中的一种方式

[2016-04-15 07:18] shinate commented on #362
https://github.com/be-fe/iSlider#scene-data

[2016-04-15 08:24] xieyu33333 commented on #362
我们与众不同的地方就在于此，放在DOM里如果有十几页or更多的情况下，部分机型或者平台下页面会崩溃的，而我们是动态加载的，DOM里最多只会有三页内容。

[2016-04-20 11:11] ph2-cst opened #365 "chrome 的手机模拟器 有时滑动不了"
发现iSlider没有触发 touchstart事件
这是为什么 刷新依旧不行，完全找不到规律

[2016-04-20 16:15] xieyu33333 commented on #365
没有真的进入移动端模式下吧，正常浏览器确实没有touchstart呀。

[2016-04-21 02:12] ph2-cst commented on #365
是用bower自动刷新的 有时突然就滑动不了

[2016-04-21 08:43] kanlidy opened #366 "【Bug】使用content: document.querySelector('#id)超过2个之后就显示不正常了"
如：
JS:

[code]

JS:

[code]

HTML:

`<div id="iSlider-wrapper"></div>`

[2016-04-21 15:08] elvinzhu commented on #194
点击事件都不冒泡了， DOM元素会重新生成。。。。 继而导致很多问题
不是很理解为何要这样设计！

[2016-04-21 15:15] xieyu33333 commented on #194
@elvinzhu 目前版本支持content中插入dom元素, 就不会重新生成，如果content是字符串，事件绑定的时候则需要用到事件代理，如果只是少量静态页面切换需求的话，你可以选择swiper.js， iSlider针对的是页面较多的情况。

[2016-04-22 06:17] shinate commented on #365
切换到手机模拟器模式之后要主动刷新下

[2016-04-22 06:31] ph2-cst commented on #365
刷新没起作用
这个问题我不知道了 昨天一天又没出现过
不过最新版的微信开发者工具滑动不了
初步发现是
[code]
为false

[2016-04-22 06:39] shinate commented on #365
开发者工具并不是手机模拟器

[2016-04-22 06:49] ph2-cst commented on #365
userAgen是iphone的
而且pc段浏览器应该也可以拖到才对的

[2016-04-22 08:55] elvinzhu commented on #194
@xieyu33333 由于你里面是用到 e.preventDefault， 事件代理也是不执行的

[2016-04-22 09:10] shinate commented on #194
表单组件并没有进行阻止，有专门的白名单策略

[2016-04-22 10:27] xieyu33333 commented on #194
可能用的是老版本吧，老版本没设白名单

[2016-04-22 10:31] elvinzhu commented on #194
@xieyu33333 昨天刚从build 目录下拿的。。。

但是我不明白的是为什么要preventDefault 呢， 方便透露一下吗

[2016-04-22 10:46] shinate commented on #194
考虑到滑动优先，因为交给开发者来做未免太繁琐了。
如果需要，fixPage设置为false的时候，会默认全部关闭preventDefault。
[code]
fixPage为有值的情况，会去检测白名单中的表单元素，并且支持自定义白名单的策略，比如 fixPage: ['.node_in_whitelist', '#single_node_in_whitelist']

[2016-04-22 10:49] #362 closed

[2016-04-22 10:50] shinate commented on #365
'ontouchstart' in global 是事件检测的方式，global === windows，手机设备都会有的，包括chrome的手机模拟器

[2016-04-22 10:55] shinate commented on #366
显示问题？是否有截图或者可预览的地址

[2016-04-26 02:39] zhoukekestar opened #369 "animateType: 'flow'，在ios设备上显示不正常"
![13245808339395975](https://cloud.githubusercontent.com/assets/7157346/14805027/f3ee4b30-0b9a-11e6-8c87-b590a6d417d0.jpg)
原以为在父窗口加-webkit-perspective：xxx就行了，但还是没效果。。。

[2016-04-28 04:49] shinate commented on #369
http://be-fe.github.io/iSlider/demo/animation.html

[2016-04-29 00:55] zhoukekestar commented on #369
![213051827612874633](https://cloud.githubusercontent.com/assets/7157346/14905890/0b1d83e4-0de8-11e6-9257-dd8946a66b79.jpg)还是不行。。。

[2016-05-03 03:33] shinate commented on #369
是无法填满的问题？

[2016-05-03 04:51] zhoukekestar commented on #369
flow的正常效果，在pc端上，中间是放大的，旁边的是有倾斜角度的。
![qq 20160503125038](https://cloud.githubusercontent.com/assets/7157346/14974915/afc9c932-112d-11e6-9df4-1e71e190e3cb.png)

[2016-05-18 05:40] frostbelt opened #372 "Bug: 不支持 a 标签"
如果 content 中有 a 标签，单击后不能跳转，document.createElement('a') 也不好使 @fengshuo

[2016-05-18 05:56] #372 closed

[2016-05-23 07:11] sosout opened #373 "css3未支持手机"
很多css3未添加前缀兼容（例如：transform）

[2016-05-23 07:14] #373 closed

[2016-05-23 07:14] sosout commented on #373
看错了

[2016-05-24 11:26] shinate commented on #369
浏览器的版本，可能是景深属性的支持问题

[2016-05-24 13:11] worldstss opened #374 "Firefox中无法滑动"
li标签的transform、transition属性没有设置成功，调用islider.slideNext();然后查看islider.slideIndex值变了，但是也没有切换，请问是什么问题？

[2016-05-24 13:20] worldstss commented on #374
有毒。。。用了iSlider.js就可以了。。。iSlider.min.js就不行

[2016-05-24 13:20] worldstss commented on #374
版本2.1.7

[2016-05-24 13:55] gismanli commented on #374
...有毒

[2016-05-25 01:13] zhoukekestar commented on #369
这个，我都试过了，perspective属性，应该是支持的。而且，ios&android都不行。perspective属性测试demo：http://www.w3school.com.cn/tiy/t.asp?f=css3_perspective1

[2016-05-26 17:39] shinate commented on #374
mark

[2016-05-27 06:47] qpxtWhite opened #375 "Bug: 页面无法正常滚动"
touchmove的时候，阻止了默认事件
当手指按在元素上时，无法正常滚动页面

[2016-06-01 07:17] zhoukekestar commented on #375
设置fixPage属性为false貌似可以
[code]
默认行为的取消主要在这行代码：
https://github.com/be-fe/iSlider/blob/master/src/js/iSlider.js#L1155

[2016-06-01 09:17] iulo opened #376 "部分事件无法用`on`绑定"
`initialize` `initialized` `rendercomplete`这些事件实际无法用on绑定，必须配置在options里

[2016-06-01 12:51] worldstss opened #377 "父元素为display:none;时，插件无法正常初始化"
父元素为display:none;时，插件无法正常初始化

[2016-06-02 02:18] shinate commented on #376
是的... 这些为实例化过程调用，必须在参数里配置。 会在文档中更新一下，谢谢反馈

[2016-06-02 02:24] shinate commented on #377
确实是这样的，显示的时候没有视图的~，因为获取不到box尺寸，可以在options里设置width和height进行尺寸的指定。

[2016-06-02 02:52] qpxtWhite commented on #375
我试了下，把fixPage设为false的确可以了；

还有点小瑕疵：
焦点图高度比较高，上下拖动页面时有左右位移，会导致焦点图进行切换
我暂时的做法是，在源码touchmove时，做了判断
[code]
不知道这样子有没有什么问题

[2016-06-02 03:27] worldstss commented on #377
好的好的，了解了，谢谢

[2016-06-02 03:40] iulo commented on #376
还有命名能不能整理下，即使是在opts里面配置，`onRenderComplete`驼峰式还是更便于书写，看起来也舒服。
对于iSlide构造函数，首字母大写是不是更好些

[2016-06-02 03:50] shinate commented on #376
因为很早的版本一直在使用全小写... 所以，也算是妥协了，确实很想同意的

[2016-06-02 05:21] iulo commented on #376
考虑加个无`new`化处理？
[code]

[2016-06-02 05:50] shinate commented on #376
会改变以往用户的习惯... 考虑过，其实没什么差别╮(╯_╰)╭，而且做多实例的时候加个new区分方便些

[2016-06-02 05:51] shinate commented on #376
2.1.8 命名已经可以使用驼峰，可以与全部小写并存，同时存在时取驼峰的

[2016-06-02 08:45] iulo commented on #376
这个好 <(￣︶￣)>

[2016-06-02 08:45] #376 closed

[2016-06-03 15:58] believeZJP opened #379 "data 为两个根据id获取的元素时，会产生一个空的li,空白页。"
![image](https://cloud.githubusercontent.com/assets/15198091/15784861/f9b929a8-29e6-11e6-9c51-3091f28fa36c.png)
![image](https://cloud.githubusercontent.com/assets/15198091/15784872/06cc8482-29e7-11e6-9d4a-74818658db9c.png)
有一个li是空白页，

[2016-06-10 17:41] weizs opened #380 "Android手机下双击会触发moving"
Android6.0.1双击会触发moving，导致始终不能实现doubleTap，自己使用中在moveHandler中做了判断，gesture===3时直接返回，不知道是否得当

[2016-06-11 02:38] weizs commented on #380
补充一下，是单击会触发moving，所以双击的handler被覆盖了

[2016-06-11 06:31] cristicmf opened #381 "点击有问题"
点击事件不稳定，感觉存在兼容问题

[2016-06-12 05:50] xieyu33333 commented on #381
有具体点的信息吗？

[2016-06-13 13:43] shinate commented on #375
这里没有特别进行处置，其实这个功能考虑过，但是会出现要求纵向切换并且纵向滚动的场景，╮(╯▽╰)╭ 无解的，所以留给fixPage===false时，自行添加判断吧

[2016-06-13 13:44] shinate commented on #379
目前~ 场景数量需要 >= 3

[2016-06-13 13:46] shinate commented on #381
@cristicmf 具体点哪里？

[2016-06-23 06:39] xieyu33333 opened #383 "问题汇总"
- renderItem时机增加配置项 slideChange/slideChanged
- rotate效果用微信打开被缩小

[2016-06-23 09:51] rancui commented on #381
大神，我想问下，就是我用iSlider时候钟的“depth”时候，其中有一个卡片是列表，当来回切换卡片的时候，比如点击列表中某一行时候，加tap事件console.log（7）出来的时候 ，不是一次打印出来一个 而是有时候一下出来好几个，呈等差数列的倍增。还有时候，当卡片来回切换，这时候再点击列表，就console.log不出来了。

[2016-06-23 11:10] xieyu33333 commented on #381
@rancui 事件绑定请使用事件代理方式，直接绑定会出现这样的情况

[2016-06-23 13:44] rancui commented on #381
大神可以给个例子？islider里面有这个api吗？

[2016-06-23 13:46] xieyu33333 commented on #381
你搜一下事件代理，网上一堆资料，这个是通用的，iSlider提供了islider.delegate方法，你也可以用jquery等其他库提供的。。。

[2016-06-23 14:13] rancui commented on #381
大神你好  我刚用了事件代理的写法，是好一点，能获取console.log打印的值，但是如果3个li标签里的卡片来回切换几圈后，点击还是获取不到console.log打印的值。求解。

[2016-06-24 06:45] rancui opened #384 "animateType: 'depth',时候遇到问题"
作者们，你们好，我们在做项目的时候，采用的是animateType: 'depth',  其中有一个卡片上有圆形百分比进度条，但当三个卡片转动一圈的时候，此时，原型进度条失效了。请大神答疑解惑。

[2016-06-24 07:02] shinate commented on #381
你可以使用第三方库，比如jquery，绑定在最外层节点上，而且代理事件绑定一次即可。

[2016-06-24 07:04] shinate commented on #383
有几个效果都是被缩小了，景深的问题，还要配合scale进行调整，之前调过一次rotate，改回来了，效果比较扁平....

[2016-06-24 07:07] rancui commented on #381
多谢大神   这个问题已经解决了 。又遇到了新的问题：公司另外一个项目，3张卡片转动一圈后，第一张卡片的圆形进度条效果失效，改怎么解决呢？ 请大神明示。  如果方便的话，可以加大神qq吗？这样方便一样。谢谢。

[2016-06-24 11:15] xieyu33333 commented on #384
因为内容是动态加载的，转一圈以后又重新初始化了。检查下你的content内容吧

[2016-06-24 11:21] shinate commented on #384
可以使用onInitialize进行初始化callback，content中不要写script，否则会被多次执行，你可以写成单例或者加上初始化锁

[2016-06-24 11:23] shinate commented on #384
还有种方法是content中使用选择器，内容里的逻辑在页面上单独处理，这种场景islider只会负责视图展现，逻辑不参与切换

[2016-06-26 07:29] rancui commented on #384
你们说的我都尝试了，还是不行。就如xieyu333所说，转一圈后又初始化了，但是为什么初始化的时候会把动画部分给整没了。content里面没有写scrpit， 后来我又尝试使用一款圆形进度条插件radialIndicator.js配合islider一起使用，当卡片有4个时候，首次加载圆形进度条是存在的，但转动一圈后，之前卡片上的圆形进度条的就消失了。

[2016-06-26 12:06] xieyu33333 commented on #384
要配置一下，onslidechange的时候执行`$('#indicatorContainer').radialIndicator(); `

[2016-06-27 05:25] cccRaim opened #385 "请问未来有没有支持pdf的想法？"

[2016-06-27 12:18] xieyu33333 commented on #385
你是说html转PDF么？这样的话需要搭建转换队列服务，目前我们没有这个条件呀。

[2016-06-28 06:13] fatefan opened #386 "initialized 未被触发。"
[code]
版本2.1.7
收集器还没装载initialized到，initialized就已经执行过了。

[2016-06-29 04:53] qbaty commented on #214
@xieyu33333 现在图片插件还是之前刘卉写的那个么？重写一版吧？这个都被文库那边的人吐槽了很多次了

[2016-06-29 06:59] xieyu33333 commented on #214
@qbaty 吐槽点在哪里？

[2016-06-29 07:12] qbaty commented on #214
主要还是说bug，以及有坑。。

[2016-07-13 08:33] littledu opened #388 "不兼容 webpack"
如题：

[code]
只要把这段 JS 去掉，换成

[code]

就可以了。

[2016-07-13 08:54] xieyu33333 commented on #388
你用的是import来引用资源的么？

[2016-07-13 08:55] littledu commented on #388
不是，就当出口文件来用

[2016-07-16 10:26] wanglong167 commented on #379
@shinate  大神 2页 循环播放 空白问题什么时候能解决呢

[2016-07-21 10:31] miaotmac opened #389 "图片上下滑动问题"
图片轮播的时候，左右滑动可以切换图片，上下滑动目前没有反应，我希望上下滑动可以滚动页面，左右滑动可以切换轮播图，请问目前支持吗？

[2016-07-21 10:55] xieyu33333 commented on #389
支持，将fixPage参数设为false即可

[2016-07-21 11:35] miaotmac commented on #389
谢谢，可以了。

[2016-07-21 11:35] #389 closed

[2016-07-21 11:47] shinate commented on #389
fixPage 可以定义你想设置的白名单元素，设为false则为全部不阻止默认事件

[2016-07-27 06:27] miaotmac opened #390 "content 模板化"
我们用的是angular，在islide的demo是这样使用： 'content' : '<div><h1>Page1</h1><h2>This is page1</h2><p>page1 is pretty awsome</p><div>'
我希望content这里的html可以写在我的模板template.html里面，用angular的语法绑定，因为这里的html内容确实很多，用js拼很不方便。
请问目前支持吗？谢谢~

[2016-08-08 01:38] jpxgkh opened #391 "初学者请教·插件能不能设置轮播起点？"
就比如说我有五个地点，对应五张图，我是把轮播放到地点点击之后的弹出层里的，然后我想要点击某个地方，弹出对应的图片，这个插件能实现么？js初学，如果问题愚蠢了请见谅。。。

[2016-08-08 07:47] xieyu33333 commented on #391
不能

[2016-08-08 07:47] #391 closed

[2016-08-08 07:50] xieyu33333 commented on #390
这个是你的使用问题，你应该用angular的模板解析器把template解析成html以后再拼成content

[2016-08-09 02:24] jpxgkh commented on #391
谢谢。。。。。。。。

[2016-08-25 07:23] shinate commented on #391
可以的啊~~ 参数里面设置 initIndex就可以了，初始化时的索引id

[2016-08-29 04:00] Napoleonqinxiaofu opened #393 "初级菜鸟使用webpack来引入iSlider.js的一些问题"
我最好还是解释一下什么是初级菜鸟，拿我举例，我刚使用webpack，是一个菜鸟的水平，也刚使用iSlider.js，所以就是初级咯！！！最近我在做一个页面的时候需要使用iSlider.js，所以就通过下面的方式来安装它。
[code]
然后在我的package.json中就有了相关的依赖，但是我发现在我的项目中我只能引入iSlider.js的主文件，也就是`\node_modules\islider.js\build\iSlider.js`这个文件，我是通过这样的方式来引入iSlider.js的：
[code]
然后我就想不到如何来引入iSlider.animate.js这个文件了，所以就只好使用准确的路径来进行查找了，我是这样写的。
[code]
但是这样做会webpack提示这样的错误信息：
[code]
就是说animate.js中找不到iSlider.js了，所以我做了以下的修改，

[2016-08-29 04:36] xieyu33333 commented on #393
做iSlider的时候webpack还没出来，主要考虑的是直接引入的方式，后续我们会增加对webpack等模块化工具的兼容

[2016-08-29 05:11] xieyu33333 commented on #393
目前你这么改是可以的

[2016-08-29 16:58] xieyu33333 commented on #393
新版本已经支持，直接使用
[code]
即可

[2016-08-29 16:59] xieyu33333 commented on #388
新版本已经支持，直接使用
[code]
即可

[2016-08-29 16:59] #388 closed

[2016-08-29 16:59] #393 closed

[2016-09-01 03:07] Napoleonqinxiaofu commented on #393
thank you!

[2016-09-01 03:08] Napoleonqinxiaofu commented on #393
thank you!

[2016-10-17 09:56] shinate opened #395 "1024"
留念
吃一顿吧

[2016-10-17 10:03] qbaty commented on #395
吃啥啊？我要吃爆米花

[2016-10-17 10:06] xieyu33333 commented on #395
👌

[2016-10-17 10:07] qbaty commented on #395
是不是我要开过一个team ，叫做ex-befe，人都快走光了

[2016-10-17 10:08] xieyu33333 commented on #395
@qbaty 那我不就被排除在外了

[2016-10-17 10:21] shinate commented on #395
哈哈，吃饭呗

[2016-10-17 10:30] qbaty commented on #395
奥，你迟早也会进来的啊 @xieyu33333 着急个毛啊

[2016-10-19 02:12] tusiji7 opened #396 "微信端打开demo，连续快速滑动的话，微信会闪退"
打开的是这个界面。http://be-fe.github.io/iSlider/demo/2.X_with-plugins-dot-button.html。

[2016-10-19 04:13] xieyu33333 commented on #396
得看下机型，另外我估计可能是demo里面iframe演示的那一页导致的，你可以尝试去掉那一页试试

[2016-10-19 06:02] shinate commented on #396
什么机型？ @tusiji7

[2016-10-19 06:05] tusiji7 commented on #396
@xieyu33333  @shinate
机型: iPhone6
系统: iOS10.0.2

[2016-10-19 06:09] shinate commented on #396
OOM了，测试机型  iPhone6 ios9.3.5 ，微信内置浏览器内存管理问题，重复加载多次iframe导致

[2016-10-22 10:29] songweir opened #397 "BUG:第二页不显示"
animateType: 'zoomout',
isVertical: true

设置这两个，滑动到第二页时不显示

[2016-10-27 01:55] sohucw commented on #395
大家都聊上了

[2016-11-10 06:00] Grifree opened #398 "zoompic 图片双指缩放功能无法关闭"
测试环境:ios9+,iphone se
没有配置plugins时,可以自动缩放图片
配置plugins : [['zoompic', {zoomFactor: 2}]] 后,依旧可以缩放图片
请问,我该如何关闭这项功能?
谢谢

[2016-11-10 06:38] xieyu33333 commented on #398
可能你用的是npm包require的，那个是把全部的plugin都打包进去了，可以直接require核心包：require("islider.js/build/iSlider.js");

[2016-11-10 07:08] Grifree commented on #398
试过了 可以了 谢谢

[2016-11-10 07:10] Grifree commented on #398
试过,可以了,O(∩_∩)O谢谢

[2016-11-24 04:28] shinate commented on #390
必须在模板渲染之后才可以置入islider，可以直接将content设置为dom句柄，当然，可以是虚拟dom

[2016-11-24 04:29] shinate commented on #386
介个确实不可以的，需要在option里面设置

[2016-11-24 04:29] #396 closed

[2016-11-24 04:31] #377 closed

[2016-11-24 04:33] shinate commented on #398
@xieyu33333 默认打包把所有的都打进去了？

[2016-11-24 04:36] xieyu33333 commented on #398
@shinate 新版把插件先移除了，要用单独require吧

[2016-11-24 15:38] zhiyi10 opened #399 "你好，请问能够禁用手动滑动的功能吗，就是只有自动轮播"
因为某些业务场景下需要禁用手动滑动功能，看了好久文档，发现都没有禁用的配置项，请问有该配置项吗，如果没有的话是否有别的思路实现这个功能呢，麻烦有空解答一下哈，谢啦

[2016-11-24 15:47] zhiyi10 commented on #399
哦， 好像我用isTouchable: false禁用触屏事件就可以了，content里的a标签还是可以点击的，节点也还是可以用islider.bind()监听得到。

[2016-11-30 05:46] shinate commented on #399
https://github.com/be-fe/iSlider#hold

可以使用hold方法禁用手势

[2016-12-05 14:01] zhiyi10 opened #400 "设置了isLooping: true循环播放后，单击会出现播放暂停"
是故意这样设定的吗，我看 http://be-fe.github.io/iSlider/demo/index_chinese.html#demo 这里的第二个demo也是这样，单击后轮播就会暂停。感觉这个设定不太合理，或者可以给一个配置参数选择是否需要暂停。目前我是用监听到 slideEnd 事件后再执行 islider.play() 来消除这个暂停的影响。

[2016-12-06 08:59] shinate commented on #400
是bug~
mark

[2016-12-06 08:59] shinate commented on #400
手动产生一次滑动后会重新启动自动播放

[2016-12-06 09:04] shinate commented on #400
设计的初衷是，用户点击了表示想操作当前的场景，可能是有其他交互，所以会停下来，slideEnd里面会自动判断autoplay的，如果开启，则继续播放。
也就是说，用户在点击过后产生了任何滑动行为（不管滑到下一屏还是回弹）都会触发再次自动播放。

[2016-12-09 13:16] zhiyi10 commented on #400
我们产品的应用场景是在webview里有个轮播的图片，点击图片后会打开对应的链接，等用户看完链接内容点后退回到原来的页面时，轮播的图片却不继续播放了（我已经设置了isAutoplay为true），需要手动滑动一次之后才能继续正常自动播放。所以感觉这个设定有点奇怪，比如百度外卖的轮播banner，我点第一个进去看完出来之后，如果banner不再轮播了，后面几个banner有重要内容的话我就可能会错过。所以感觉可以把这个设定改成参数配置项，可能会稍微好点。

[2016-12-15 11:44] shinate commented on #400
https://github.com/be-fe/iSlider#wakeupautoplaydazetime
增加了控制参数

[2016-12-15 11:47] shinate commented on #400
取值0+，0会立即唤醒，单位毫秒

[2016-12-26 06:43] zhiyi10 commented on #400
nice~

[2016-12-26 06:43] #400 closed

[2016-12-26 06:44] #399 closed

[2016-12-27 03:34] zhiyi10 commented on #366
是的，我也遇到了这个问题，全部用页面的节点作为content，超过2个之后，后面的节点会被绘制在islider-outer这个ul的外面（同一层级），导致页面显示不正常，多个元素重叠在一起了，需要轮播好几页之后才自动正常。我目前解决的办法是把和islider-outer同级层的被绘制的节点都display: none掉。感觉可能是个bug，希望能处理一下。

[2016-12-29 06:07] ynuxcc opened #401 "Bug: iSlider displayed nothing except the first one when create some sliders us same option"
first of all , forgive my poor English!
when create some sliders use same option and you can see this bug,

var imgList1 = [
        {
            content: './content-image/farm-1.jpg'
        },
        {
            content: './content-image/farm-2.jpg'
        },
        {
            content: './content-image/farm-3.jpg'
        },
    ];
    var imgList2 = [
        {
            content: './

[2016-12-29 09:54] shinate commented on #366
<div id="iSlider-wrapper"></div>
<div style="display: none">
    <img id="i_0" src="pic.jpg"/>
</div>
<div style="display: none">
    <img id="i_1" src="pic.jpg"/>
</div>
<div style="display: none">
    <img id="i_2" src="pic.jpg"/>
</div>
<div style="display: none">
    <img id="i_3" src="pic.jpg"/>
</div>
<div style="display: none">
    <img id="i_4" src="pic.jpg"/>
</div>

<script>
    var list

[2016-12-29 09:56] shinate commented on #366
用选择器的方式其实并不会在一开始全部渲染的，只是在滑动到的情况下，才去页面中拿取需要的节点

[2016-12-29 09:58] shinate commented on #366
比如上面的代码，只会在首屏读取0、1，滑动到1，继续读取2 ...

[2017-01-04 06:59] lokialone opened #402 "在vue2.0中使用，一直报 ‘t.setTimout not a function!’"

[2017-01-04 07:04] shinate commented on #402
可以断点看一下t是什么，如果用vue包装islider看下window是否被改写了

[2017-01-06 06:38] devinRex opened #403 "如果是做dom的滑动切换，如果dom元素内容是会动态变化"
你好，这样一个用户场景，在3个tab之间来回切换，tab1的条目是能够上拉加载更多的。发现如果在tab1发送加载更多请求，拿回数据改变模板是可以更新这个dom的内容的，但是如果在tab3的时候想去操作tab1的内容是做不到的，有没有相关配置项是可以保证切换的三个dom结构一直是都在文档中的。

[2017-01-06 06:41] shinate commented on #403
原始的句柄一直在的，就在data里面 [{content:这里},...]

[2017-01-09 13:32] xieyu33333 commented on #403
content里的内容如果是dom结构的话跟你用什么框架没关系，只要原始对象一直存在就行，它只是个引用，如果是字符串模板肯定不行。

[2017-02-08 14:50] BigYu opened #404 "is there required style for outer container"
是不是dom最外层的
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
需要自己加啊 不然页面上啥的没有 dom tree看起来正常

[2017-02-09 03:01] xieyu33333 commented on #404
容器的样式需要用户自己控制

[2017-02-16 06:16] naifen00 opened #405 "元素数从1变成大于1时，初始化设置需要重新计算"
初始化时 data 只有一个元素 设置了isAutoplay = true，isLooping = true
这时isAutoplay和isLooping会自动变成false
当调用loadData 设置data 大于一个元素 isAutoplay 和 isLooping 还是false
需要手动设置 实例的 isAutoplay 和 isLooping 为true 然后 调用实例方法play

[2017-02-16 06:27] shinate commented on #405
mark，这个近期优化下

[2017-02-17 05:01] dreamthen opened #406 "是否可以支持ES6语法"
可不可以require或者import?怎么使用?

[2017-02-17 06:11] dreamthen commented on #406
我看了一下,islider-h5支持ES6语法,但是必须用gulp启动嘛？

[2017-02-18 08:48] wulala opened #407 "调用slideNext()时，点击过快，导致onSlideChanged() 触发多次问题。"

[2017-02-18 08:51] wulala commented on #407
![evsypr5 w 2rwq a aj56](https://cloud.githubusercontent.com/assets/2832873/23091854/6b72c4ca-f5fa-11e6-985c-bad55a6842a7.png)

[2017-02-20 07:01] BigYu commented on #404
多谢哈~ 回复晚了 抱歉
让用户控制容器样式当然是合理的 我的建议是 如果对容器样式有要求的话 可以document下来：）

btw: 感谢大神 it is really amazing!

[2017-02-20 07:20] shinate commented on #406
等各家浏览器支持ES6的时候吧，现在就算用了ES6也只能转5用。

[2017-02-21 06:30] dreamthen commented on #406
不过我看islider貌似是可以支持require模块的，var iSlider = require('islider/build/iSlider');这样可导入......

[2017-02-21 06:31] shinate commented on #406
因为用了webpack

[2017-02-27 03:38] song-ran opened #408 "[2.0+] 可以按需加载需要的功能（效果 或 插件）怎么实现呢"
[2.0+] 可以按需加载需要的功能（效果 或 插件）怎么实现呢，望大神指点一二，谢谢

[2017-02-27 11:29] shinate commented on #408
在demo中有例子，[动态追加](http://be-fe.github.io/iSlider/demo/index_chinese.html#demo)，其实是调用了 [pushData](http://be-fe.github.io/iSlider/demo/index_chinese.html#pushdata)，你可以通过注册事件和push来实现。
扩展iSlider可以用 [iSlider.regPlugin](http://be-fe.github.io/iSlider/demo/index_chinese.html#regplugin)，具体的实现可以参考现有插件，比如：https://github.com/be-fe/iSlider/blob/master/src/js/plugins/button.js

[2017-03-07 10:24] geeeger opened #409 "亲，这句话是不是有点问题"
[code]

在iSlider的构造器里，发出去了初始化和初始化完成事件。但事实上我感觉这两个事件没什么卵用啊。因为这两个事件是在实例化过程中发出去的，我要调用on去注册事件监听这两个事件的话，就必须等实例化完。讲道理我是怎么也接不到这两个事件的。同理还有'pluginInitialize','pluginInitialized'。🙈

[2017-03-08 02:59] shinate commented on #409
这么写是因为要统一事件的注册和调用，任何事件都是用on来注册，fire调用。
initialize、initialized、pluginInitialize、pluginInitialized 由于触发位置的关系，要在实例化时的options里面设置。

[2017-03-08 03:03] shinate commented on #409
https://github.com/be-fe/iSlider#event-callbacks

[2017-03-08 05:09] geeeger commented on #409
😂啊，768行的events初始化过程看掉了，不好意思。

[2017-03-08 05:09] #409 closed

[2017-03-22 09:25] cn-xiao opened #410 "lock锁定后unlock解锁无效"
### lock
`this.hold() ,this._locking = !0`
### unlock
`this._locking=!1`

### hold
`this._holding = !0`
### unhold
`this._holding = !1,this.unlock()`

导致现在`lock()`锁定后，用`unhold()`才能解锁

[2017-03-23 10:11] shinate commented on #410
确实是这样设计的，因为lock的权重高于并包含了hold。
实现上实际是：“用一个双层的箱子装了东西，但是要一层一层的拆开”
关于方法名。.. 比较容易混淆😅

[code]

[2017-03-27 03:28] #410 closed

[2017-04-04 02:12] rick0377 opened #411 "content动态数据"
content的html是通过template传值实现的，看文档说，页面的切换是通过三个“li”切换实现的，当我的页面超过三个时，我对每个页面做了dom操作，当我返回切换时，页面的操作会保留吗？还是从新加载的？三个以外的页面是怎么保存的？

[2017-04-04 18:53] MincoTse opened #412 "本地不能启动"
我是新手，刚正前端自动化。node\npm\bower\webpack\yo、gulp都安装好了，按上面提示下载不了，也不知怎么回事。希望 博主 出个视频越详细越好 尤其是每个配置文件属性什么的介绍下。

[2017-04-05 06:37] shinate commented on #411
list，可以进行操作并保持，只需要干预模板或者dom tree就好，但要根据你用的方式加以区分，存储的类型见 https://github.com/be-fe/iSlider#scene-data，

[2017-04-13 12:50] xuezechao2012 commented on #411
具体怎么操作和保持着个list的数据呢？我list里面的值是以 {content：htmlString} 的方式，然后页面是以模板渲染的，现在的需求是当前slide上面有一些表单元素的，当用户进行填写之后，给保存下来，不会随着slider的前后滑动而丢失用户填写的数据。

[2017-04-13 12:51] xuezechao2012 commented on #411
@shinate

[2017-04-16 08:56] rick0377 opened #413 "HTML、element、fragment、node差别"
这个四种方式在使用过程中有什么差异？如果使用动态数据以及保存用户才做的数据的话，建议使用哪种方式？

[2017-04-17 05:09] shinate commented on #413
字符串，虚拟dom，还是虚拟dom，实体dom。保存数据其实都可以，字符串要做重新赋值，而其他三个不用，会直接保留下来。

[2017-04-17 05:13] shinate commented on #411
content指向一个虚拟dom容器，重渲里面的内容

[2017-04-17 11:03] Sssnone commented on #375
当使用animateType: 'flow'的时候，没法定义一个可以scroll的content啊。不然根本无法滚动，若设置fixPage==false的话，flow的动画就没了啊，求助

[2017-04-17 11:03] Sssnone opened #414 "scroll冲突问题"
当使用animateType: 'flow'的时候，没法定义一个可以scroll的content啊。不然根本无法滚动，若设置fixPage==false的话，flow的动画就没了啊，求助

[2017-04-18 07:44] shinate commented on #375
上面有表示过，touch的触发动作可以自行解决的，框架能做的只有“不阻止默认事件”而已。况且，根据一般的经验，滑动和内容scroll的方向肯定是不同的，很好判断，如果相同的话... ╮(╯▽╰)╭

[2017-04-19 03:55] liu2080019 opened #415 "2.2.2npm包使用问题"
如题，我的配置如下
`this.slider = new iSlider({
      isAutoplay: true,
      duration: 500,
      isLooping: true,
      isOverspread: true,
      animateType: 'card',
      animateTime: 800,
      dom: this.slideRef,
      data: this._getDataSource(),
      plugins: [['dot']]
    });`
不自动播放，dot也不出现，看了一下npm包的引用
`// require('../build/iSlider.css');
// require("exports?iSlider!./export-iSlider");
var iSlide

[2017-04-19 03:56] shinate commented on #415
这个是示例，打开即可

[2017-04-19 04:01] liu2080019 commented on #415
打开注释
`var iSlider = require("../build/iSlider.js");
require('../build/iSlider.animate');
require('../build/iSlider.plugin.dot');
require('../build/iSlider.plugin.button');`
引用位置代码
`import * as iSlider from 'islider.js';`
还是不生效。。

[2017-04-20 03:12] lanpangzhi opened #416 "Bug: 我看介绍中有预加载图片，可是我看文档没有相应的API"
尝试了renderComplete，initialized，initialize方法，发现无法实现是不是预加载需要自己去写

[2017-04-24 03:08] yuwengCipher commented on #389
补充一个问题，这样设置之后左右上下滑动都没问题了  但是 当我左右滑动图片时 页面会触发上下滑动 ，上下滑动的时候总是会触发左右滑动，体验很不好  想请问下 怎样才能让左右滑动时 禁止上下滑动  以及 上下滑动时禁止左右轮播图片的滑动

[2017-04-24 03:24] shinate commented on #389
滑动阻止滚动：onSlideStart 的时候阻止掉页面的scroll，滚动阻止滑动：因为XY轴都会产生位移，判断起来比较麻烦，你可以设置 fingerRecognitionRange（滑动切换的识别区域，默认10px），加大这个值可以让滑动的触发范围增加，用来缓解另一个轴的滚动产生的误差

[2017-04-24 03:36] yuwengCipher commented on #389
谢谢  滑动阻止滚动 效果不错 只是增大fingerRecognitionRange的值后 依然会触发滑动 并且偶尔还会产生卡顿 页面布局就乱了 不过总的来说 效果还是不错的 ！！

[2017-04-26 03:17] liu2080019 opened #417 "dot不显示"
const iSlider = (window as any).iSlider;
      this.slider = new iSlider({
        isAutoplay: 1,
        isLooping: 1,
        isOverspread: 1,
        animateTime: 800,
        dom: this.slideRef,
        data: this._getDataSource(),
        plugins: [['dot', { background: 'rgba(0,0,0,0)' }]],
      });
    }
    if (!(window as any).iSlider) {
      const p1 = this.loaderJs('http://xxxxxxx/js/i

[2017-04-26 03:18] #415 closed

[2017-04-26 03:28] liu2080019 commented on #417
dotWrap.className = 'islider-dot-wrap';

看了下源码，貌似只创建dot的ul，但是没有添加到html里？

[2017-04-26 03:41] shinate commented on #417
renderDots() 做的渲染，locate()确认添加的位置，看一下dom里面有没有增加。
参数里面的背景色已经取消掉了，改为自行定义css样式。
目前支持的参数为 {locate:dot欲添加到的位置}（默认为与islider.dom同级）

很可能是因为添加到同级容器里绝对定位了所以看不到

[2017-04-26 03:43] #417 closed

[2017-04-26 08:06] shinate commented on #416
只有图片模式，也就是：data里面的content为纯粹的图片URL时，才会做预加载。其他的内容形式需要自己来写

[2017-05-12 02:54] liu2080019 opened #418 "轮播图片代理事件点击问题"
轮播图片代理事件点击，无法知道当前是第几张图片。。。

[2017-05-12 03:04] liu2080019 commented on #418
每次渲染的3的li标签，没有什么标识让我区分当前是第几张

[2017-05-12 06:29] muzi131313 commented on #386
@fatefan `new iSlider({
	data: progressImg,
	dom: document.querySelector('.img-container'),
	oninitialized: function() {
        // your code
    }
})`  你这样去写就好了

[2017-05-12 06:36] muzi131313 commented on #418
[code]
@liu2080019

[2017-05-12 09:36] fishenal commented on #417
dot的位置很诡异，locate这个参数也找不到文档。。。。位置是dom元素

[2017-05-22 13:39] #385 closed

[2017-06-01 08:58] whwnow opened #419 "webpack模式下无法使用插件"
`import iSlider from 'islider.js' import dot from 'islider.js/build/iSlider.plugin.dot.js'`
通过以上代码引入iSlider之后，插件不能使用。查了下代码，因为`build/iSlider.plugin.dot.js`文件中把插件注册到`build/iSlider.js`这个文件里了。但是iSilder引入的是`build/index.bundle.js`
希望修正一下这个问题

[2017-06-02 10:12] fishenal opened #420 "浏览器点击事件不能通过插件来写吗？自己写的addEventListener touch感觉会有问题啊"
给生成的dom节点设置touchstart事件会跟插件事件冲突，touchend也有事件，怎么判断他是点了轮播图，还是滑动轮播图，这个插件交给用户去做吗？

[2017-06-02 10:22] fishenal commented on #420
比如我要生成一张图，为这张图绑定touch事件跳转，要怎么做？
直接绑定在touchstart或touchend，都会妨碍幻灯片的行为，左右切换也会导致页面跳转，所以没法判断用户到底是点击图片还是切换幻灯片，这有什么办法实现吗？感觉上这个功能应该是插件来做吧。

[2017-06-04 05:22] shinate commented on #420
只是点击的话，滑动其实做了触发保护的，滑动只要不超过一定的距离就不回触发

[2017-06-04 05:27] shinate commented on #420
https://github.com/BE-FE/iSlider/blob/master/README_Chinese.md#fingerrecognitionrange

可以通过这个参数设置滑动触发的敏感度

[2017-07-06 08:32] whorusq opened #421 "data 为 HTMLElement 时的问题"
我采用如下方式填充 content，节点 iSlider-page* 对应的 html 内容在页面里

[code]

浏览器预览的时候，发现**第3页的内容会在第1页叠加显示**，第3页之后再加的其它页面，也会叠加；
滑动到第二页（只要往后面滑动一次），再返回第一页查看，发现已经正常了。

请问 @all，这是不是 bug ？

我目前的解决方案是：

[code]

[2017-07-22 04:17] muzi131313 opened #422 "hi，有没有计划发布vue、react版本的？"
RT

[2017-08-11 00:37] #366 closed

[2017-08-14 09:06] muzi131313 opened #423 "只有两个slider的时候，slider切换动画不连贯"
这种情况下，动画切换是第一张消失，第二张动画动画进入。而非三张以上的连贯动画切换。下面是我的初始化选项
[code]

[2017-08-14 12:08] muzi131313 opened #424 "问题锦集【收集iSlider使用过程中的一些问题和解决方法】"
- 点击事件无效，[参考](http://blog.csdn.net/qingchen1016/article/details/51545868)
配置选项设置 `fixPage:false // 不阻止原生事件`，这样就可以给slider中的dom添加事件了。ps: 我自己尝试了一下，使用delagate方法，结果
[code]
arguments第一个参数返回的是`.slider-img`选择器的dom元素，第二个是callee，第三个是一个回调。说好的，第一个是传回的是event对象呢？
- vue中使用iSlider，只好把vue当成一个ui渲染组件，然后取出html，放到data中，拼成符合islider api的数据。
[code]
由于使用了template，所以需要设置一个vue别名，指向dist/vue.min.js
[code]

[2017-10-17 14:41] pmmx555 commented on #416
我想问下,如果 data中 图片URL,有200个. 那么默认预加载多少张图片呢. 这个参数好调节不.

[2017-10-17 14:54] shinate commented on #416
预加载左右两张，如果滚动结束，会沿着滚动方向再加载一张

[2017-11-10 05:24] metea opened #425 "Question:: 怎么使用点击事件，点击轮播图跳转？"
怎么使用点击事件，点击轮播图跳转？

[2017-11-10 06:15] havingmeaning opened #426 "Bug: 有a标签的情况下无法滑动到下一张！"
Example:
list.push({
              content: `<div class="rec-silder-cell">
                <a href="${this.recommends[i].linkUrl}">
                  <img src="${this.recommends[i].picUrl}" />
                </a>
              </div>`
            });
如果有a标签的话，在我滑动到下一张的过程中，页面直接发生跳转。
其实我想要的效果，就是在我滑动的时候，页面不要应该发生跳转。而页面发生跳转的时候，仅仅只是我点击的时候！

[2017-11-10 07:11] havingmeaning commented on #426
It  is  very easy! We can use flag to work out this problem!
My code:
var isLinkTo = 1;

            var S = new iSlider(document.getElementById('rec-silder'), list, {
              isAutoplay: 0,
              isLooping: 1,
              isOverspread: false,
              animateTime: 800,
              plugins: ['dot'],
              renderComplete: function () {

              },

[2017-12-21 05:45] dd1994 opened #427 "您好请问该项目还在维护吗"
已经好多个月没有更新了, bug 反馈也没有解决, 不太敢用

[2017-12-22 15:07] shinate commented on #427
重大bug会修复的

[2018-01-05 03:14] weituotian opened #428 "没有一张slide加载完成的事件"
注意是一个slide完全！切换完成之后触发的事件

不要跟我说onslidechange, 确定是完全切换完成后的事件，确定第一张slide会调用？

[2018-01-10 10:52] dd1994 commented on #427
💔

[2018-01-15 12:20] shinate commented on #428
onslidechanged 切换动画播放完成 onsliderestored 回弹完成

连续滑动时，如果有设置动画，会不停的触发onslidechange 但是不会触发 onslidechanged，直到某一帧的动画完全结束

[2018-01-15 12:21] shinate commented on #428
https://github.com/be-fe/iSlider#slidechanged

[2018-01-15 15:03] weituotian commented on #428
@shinate 可以的，谢谢你的解答

[2018-01-15 15:03] #428 closed

[2018-01-18 07:05] shinate commented on #425
请描述的清晰一点

[2018-01-18 07:09] shinate commented on #421
用css解决就好，每一帧都会有独立的css样式，可以用外层的class控制内容展示与隐藏，对内容islider是没有任何干预的。所以选用的切换效果不同会有各种各样的展现，这些都是需要具体业务自己来实现的。

[2018-01-19 01:40] yyccQQu opened #429 "轮播图的flow效果图，只能显示三个li？"
我尝试了iSlider.js里面的【renderComplete】那里的li，有一个for循环，渲染的li标签，如
997行代码
        for (var i = 0; i < 7; i++) {
            var li = document.createElement('li');
            outer.appendChild(li);
            this.els.push(li);

            // prepare style animation
            this._animateFunc(li, this.axis, this.scale, i, 0);

但是改了也没多大用？求解！谢谢

[2018-01-19 03:30] shinate commented on #429
轮播只基于3个li，这是islider的设计初衷。
这是高效的保证，也带了了一些局限，比如转轴，跳跃，轮盘的效果无法实现

[2018-01-19 04:00] yyccQQu commented on #429
zizi/我想要旋转木马的效果，只显示三张，其实局限性还是有的，我建议还是可以多显示几张。比如说让显示多少张成为用户的可选项，然后再在文档里说明一下，或者在源代码里面说明一下，显示多张会影响性能，让用户选择，我感觉这还是不错的。

[2018-01-19 04:08] yyccQQu commented on #429
我的意思是我在使用flow效果的时候，视图内最多显示3张图片？。

[2018-01-19 04:28] shinate commented on #429
是的，最多3帧，旋转木马是没法实现的

[2018-01-19 04:33] yyccQQu commented on #429
知道了 3Q

[2018-01-19 04:33] #429 closed

[2018-01-20 06:51] yyccQQu opened #430 "页面刚刚渲染出来，卡着的怎么办？"
需要按f12改变屏幕宽度，flow动画才能有效，我用的vuejs.?

[2018-01-20 07:18] yyccQQu commented on #430
需要按f12改变屏幕宽度，flow动画才能有效，我用的vuejs.?

[2018-01-20 07:22] yyccQQu commented on #430
href跳转页面还是卡着的。

[2018-01-20 08:41] #430 closed

[2018-02-01 04:17] leeboo opened #431 "请问方向怎么控制，比如我想让普通的normal效果是从左往右的怎么设置呢。默认是从右往左的动画效果"
请问方向怎么控制，比如我想让普通的normal效果是从左往右的怎么设置呢。默认是从右往左的动画效果

[2018-02-01 06:18] leeboo commented on #389
请问怎么设置左右或者上下滑动的方向呢，比如从左往右，从右往左，从上往下，从下往上

[2018-02-03 10:37] MoyeRon opened #432 "请问，我将bootstrap的container整体装入了左右滑动，但是container内部的上下滑动失效了怎么办"
如题

[2018-02-03 12:41] MoyeRon commented on #432
已经将fixPage设为了false，依旧不行

[2018-02-11 10:13] WebHW opened #433 "横竖屏，会有问题"

[2018-03-05 09:19] wumiangithub opened #434 "Bug: 手指按下 页面背景色会变化"
手指按下  页面背景色会变化

[2018-04-03 06:38] zhiruoyu88 opened #435 "建议增加onerror处理"
建议增加onerror处理

[2018-04-09 05:02] hellozhangran commented on #435
+1

[2018-04-12 12:28] hellozhangran opened #436 "发现bug一枚，pause()方法有问题的"
如题 ~

pause只是清理了this._LSN.autoPlay上的当前计时器，如果执行pause的时候，代码已经进入了slideTo环节，其实清理_LSN.autoPlay已经没有用了。 slideTo执行到最后会自动创建新的计时器进入下一轮播放。

验证：
 随便找个demo, 开启自动播放模式，因为duration默认是2000。就在初始化iSlider代码后面加上
[code]
你会发现是暂停不了的。 （如果不能重新的话，可以改个延迟执行时间，多试试很容易重现）

[2018-05-18 13:45] harmsworth opened #437 "zoompic插件中通过对图片双击或双指放大，在控制台报错"
iSlider.plugin.zoompic.js?9af6:285 Uncaught TypeError: Cannot read property 'pageX' of undefined
    at handleDoubleTap (iSlider.plugin.zoompic.js?9af6:285)
    at iSlider.endHandler (iSlider.plugin.zoompic.js?9af6:314)
    at iSliderPrototype.handleEvent (iSlider.js?c3de:1183)

这一段代码
/**
     * Double tao handle
     * @param {object} evt
     */
    function handleDoubleTap(evt) {
        var zo

[2018-06-19 02:58] lettywiterock opened #438 "iSlids插件，antd项目，new iSlids 导致生成多个UI节点，外部使用判断控制了访问限制，所以节点生成这里应该是插件内部导致的，有没有什么解决办法"

[2018-06-19 03:03] lettywiterock commented on #438
### HTML CODE
<div class="table_head_ref">
<ul class="islider-outer" style="perspective: 1952px; cursor: pointer;"></ul>
<ul class="islider-outer" style="perspective: 1952px; cursor: pointer;"></ul>
<ul class="islider-outer" style="perspective: 1952px; cursor: pointer;"></ul>
<ul class="islider-outer" style="perspective: 1952px; cursor: pointer;"></ul>
<ul class="islider-outer" style="perspective:

[2018-07-05 15:39] tangj1206 opened #439 "webapp开发中，webview预加载时图片叠加问题。"
在开发webapp的过程中，从首页预加载主页（slider在主页 ，会被预加载），当主页出现时slider里面的图片全部重合堆叠在了一起。

[2018-07-06 07:40] BarneyZhao opened #440 "建议：可否添加free Mode"
打算从swiper替换成iSlider，原来有free mode 的使用场景（移动后不会自动恢复或跳到下一页），目前iSlider貌似无法实现

[2018-07-08 14:55] guoyueting opened #441 "修复plugin在使用npm安装时无法引用的bug"
修复iSlider的plugin全局能用，npm包不能用的问题。
Bug描述：npm安装后根据package.json的main配置，入口文件是build/index.bundle.js，但实际上plugins中使用require('./iSlider')的引用方式只能调用src/js/iSlider.js中的plugin，因此会出现采用npm时二者不一致的情况。
解决方案：将plugins插件中的引用iSlider组件的代码由require('./iSlider')改为require('islider.js')，这样无论是全局还是npm，都能引用正确的iSlider组件。

[2018-07-11 09:30] shinate commented on #440
手动控制即可，touchEnd event 设置 autoplay=false

[2018-07-13 01:42] #439 closed

[2018-07-13 01:43] tangj1206 commented on #439
问题解决了 是因为dom元素还未初始化完成 就初始化了插件 导致样式计算跑偏
解决方式是 将初始化代码写入 plusready 里面

[2018-08-15 01:53] wildhunter-66 opened #443 "slideIndex variable"
Hi,
How can I use or access slideIndex variable, I'm using twoo isliders and I need the index of the first to populate the second.  Thanks.

[2018-08-21 05:43] shinate commented on #443
http://eux.baidu.com/iSlider/demo/#demo
see the demo swop, multiple instance linkage. If that can't meet your needs, you can use the event such as slideChange(d) or slideRestore(d), the first parameter is index

[2018-10-17 08:39] yyonggonyy opened #444 "请问一下iSlider怎么排版按从右往左排列"
请问一下iSlider怎么排版按从右往左排列，需要修改哪里吗

[2019-01-22 11:37] chenendian commented on #381
同样的问题，在电脑上火狐能触发，谷歌触发不了，手机也触发不了  使用了代理也不行

[2019-01-22 11:47] chenendian commented on #381
现在找到一个解决办法，就是在初始化isilder的时候设置  isTouchable: false, // 触屏事件

[2019-03-22 08:29] yyqxjwxy commented on #416
是自动的吗

[2019-03-22 08:30] yyqxjwxy commented on #416
是自动就进行与加载了吗，不需要自己配置相关参数吗

[2019-03-22 08:31] yyqxjwxy opened #447 "有图片分页功能吗"
希望加入图片分页功能

[2019-03-22 09:33] shinate commented on #416
如果滚动的内容是"图片"（地址）就会应用预加载规则
https://github.com/be-fe/iSlider#scene-data

[2019-03-22 09:37] shinate commented on #447
请详细描述

[2019-03-22 09:40] yyqxjwxy commented on #447
![image](https://user-images.githubusercontent.com/17972392/54813879-83824180-4cc9-11e9-9010-277bdc0ac596.png)
像这样可以显示总图片数，显示当前图片数，

[2019-03-22 09:45] yyqxjwxy commented on #447
怎么实现呢

[2019-03-22 10:09] shinate commented on #447
可通过事件来实现

[2019-03-22 10:27] yyqxjwxy commented on #447
默认开启预加载了吗

[2019-03-24 00:36] #416 closed

[2019-04-24 02:24] chuck17ans opened #448 "如何设置轮播图（自动播放）每一页不同的时间间隔"
目前有多张图片执行自动轮播，请问如何调整每一页的时间间隔？

举例：

第1页->第2页（4s）
第2页->第3页（3s）
第1页->第2页（5s）

[2019-05-20 08:50] SwordSealCity opened #449 "slideChanged 不管用"

[2019-05-20 08:52] SwordSealCity commented on #449
用oninitialized能调用，但slideChanged就没绑定事件了。

[2019-05-20 08:59] SwordSealCity commented on #449
找到了。
https://github.com/be-fe/iSlider/issues/428

[2019-05-20 09:46] SwordSealCity opened #450 "bug:当点击内容里的事件时，插件不自动滚动了"
var islider = new iSlider({
                                data: isliderList,
                                dom: document.getElementById('islider-effect'),
                                isAutoplay: true,
                                isLooping: true,
                                isOverspread: true,
                                animateTime: 800,
                                duration

[2019-08-12 09:38] yoqu commented on #244
保存功能如何使用？

[2020-02-27 08:49] HVE-LK opened #451 "当content为HTMLElement且数据长度为2，如果其中一个不为img，在轮播时会出现整张空白轮播图"

[2021-05-13 09:38] #418 closed

[2022-07-10 19:49] PablooGit opened #452 "Errorr"
It is very easy! We can use flag to work out this problem!
My code:

var isLinkTo = 1;
var S = new iSlider(document.getElementById('rec-silder'), list, {
isAutoplay: 0,
isLooping: 1,
isOverspread: false,
animateTime: 800,
plugins: ['dot'],
renderComplete: function () {
},
onSlideStart: function (e) {
isLinkTo = 1;
},
onSlide: function (e) {
isLinkTo = 0;
},
onSlideEnd: function (e) {
if (isLinkTo